{
  "openapi": "3.1.0",
  "info": {
    "title": "UBIK Public API",
    "description": "Publicly accessible API endpoints for UBIK.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://app.ubik-agent.com/api/v1",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "Public API",
          "Public API"
        ],
        "summary": "Health Check",
        "description": "Health check endpoint for the public API.",
        "operationId": "health_check_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "status": "ok",
                  "user": "testuser"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/users/me": {
      "get": {
        "tags": [
          "Public API",
          "Public API",
          "Users"
        ],
        "summary": "Read Current User",
        "description": "Get the details of the current user.",
        "operationId": "read_current_user_users_me_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicUserResponse"
                },
                "example": {
                  "username": "testuser",
                  "full_name": "Test User",
                  "uuid_id": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
                  "created_at": "2025-09-28T12:00:00Z",
                  "balance": 100.0,
                  "chat_session_count": 5,
                  "document_count": 42,
                  "workspace_count": 3,
                  "assistant_count": 2
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/workspaces": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Workspaces"
        ],
        "summary": "List workspaces",
        "description": "Retrieves a paginated list of all workspaces accessible to the user.\nThis includes personal workspaces and shared company workspaces.",
        "operationId": "get_workspaces_workspaces_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPaginatedWorkspacesResponse"
                },
                "example": {
                  "items": [
                    {
                      "id": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
                      "name": "My Project Workspace",
                      "description": "Contains all documents related to the Q1 sales report.",
                      "is_default": true,
                      "created_at": "2025-09-28T10:00:00Z",
                      "updated_at": "2025-09-28T11:00:00Z",
                      "document_count": 42
                    }
                  ],
                  "total": 1,
                  "page": 1,
                  "limit": 20,
                  "has_more": false
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Public API",
          "Public API - Workspaces"
        ],
        "summary": "Create a workspace",
        "description": "Creates a new personal workspace for the user.",
        "operationId": "create_workspace_workspaces_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceCreate"
              },
              "example": {
                "name": "New Project Workspace",
                "description": "Workspace for the new project.",
                "is_default": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicWorkspace"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                },
                "example": {
                  "detail": [
                    {
                      "loc": [
                        "body",
                        "name"
                      ],
                      "msg": "field required",
                      "type": "value_error.missing"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Workspaces"
        ],
        "summary": "Get workspace details",
        "description": "Retrieves the details of a specific workspace, provided the user has access.",
        "operationId": "get_workspace_workspaces__workspace_id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Workspace Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicWorkspace"
                },
                "example": {
                  "id": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
                  "name": "My Project Workspace",
                  "description": "Contains all documents related to the Q1 sales report.",
                  "is_default": true,
                  "created_at": "2025-09-28T10:00:00Z",
                  "updated_at": "2025-09-28T11:00:00Z",
                  "document_count": 42
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Public API",
          "Public API - Workspaces"
        ],
        "summary": "Delete a workspace",
        "description": "Deletes a workspace, provided the user is the owner.",
        "operationId": "delete_workspace_workspaces__workspace_id__delete",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The unique identifier of the workspace.",
              "title": "Workspace Id"
            },
            "description": "The unique identifier of the workspace."
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/documents": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Workspaces"
        ],
        "summary": "List documents in a workspace",
        "description": "Retrieves a paginated list of documents within a specific workspace.",
        "operationId": "get_workspace_documents_workspaces__workspace_id__documents_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Workspace Id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPaginatedDocumentsResponse"
                },
                "example": {
                  "items": [
                    {
                      "id": "c1d2e3f4-a5b6-7890-1234-567890abcdef",
                      "name": "Q1 Sales Report.pdf",
                      "file_type": "application/pdf",
                      "status": "completed",
                      "created_at": "2025-09-28T10:05:00Z",
                      "updated_at": "2025-09-28T10:05:00Z",
                      "processing_pipeline": "default-pipeline"
                    }
                  ],
                  "total": 1,
                  "page": 1,
                  "limit": 20,
                  "has_more": false
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/documents": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Documents"
        ],
        "summary": "List documents",
        "description": "Retrieves a paginated list of all documents accessible to the user.",
        "operationId": "get_documents_documents_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPaginatedDocumentsResponse"
                },
                "example": {
                  "items": [
                    {
                      "id": "c1d2e3f4-a5b6-7890-1234-567890abcdef",
                      "name": "Q1 Sales Report.pdf",
                      "file_type": "application/pdf",
                      "status": "completed",
                      "created_at": "2025-09-28T10:05:00Z",
                      "updated_at": "2025-09-28T10:05:00Z",
                      "processing_pipeline": "default-pipeline"
                    }
                  ],
                  "total": 256,
                  "page": 1,
                  "limit": 20,
                  "has_more": true
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Public API",
          "Public API - Documents"
        ],
        "summary": "Ingest documents from files or URLs",
        "description": "Unified endpoint to ingest documents from various sources.\n\nThis endpoint can handle file uploads and URL scraping in a single request.\nIt uses multipart/form-data.\n\n- To upload files, include them in the 'files' part of the form.\n- To scrape URLs, provide a comma-separated string in the 'urls' form field.\n- Specify workspace IDs to associate the ingested documents with specific workspaces.",
        "operationId": "ingest_documents_documents_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_ingest_documents_documents_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicDocument"
                  },
                  "title": "Response Ingest Documents Documents Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Either 'files' or 'urls' must be provided."
                }
              }
            }
          }
        }
      }
    },
    "/documents/{document_id}": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Documents"
        ],
        "summary": "Get document details",
        "description": "Retrieves the details of a specific document, provided the user has access.",
        "operationId": "get_document_documents__document_id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Document Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDocument"
                },
                "example": {
                  "id": "c1d2e3f4-a5b6-7890-1234-567890abcdef",
                  "name": "Q1 Sales Report.pdf",
                  "file_type": "application/pdf",
                  "status": "completed",
                  "created_at": "2025-09-28T10:05:00Z",
                  "updated_at": "2025-09-28T10:05:00Z",
                  "processing_pipeline": "default-pipeline",
                  "file_name": "2024_Q1_Sales_Final_v2.pdf",
                  "markdown_content": "# Q1 Sales Report..."
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Public API",
          "Public API - Documents"
        ],
        "summary": "Delete a document",
        "description": "Delete a document. This will remove the document from the user's default workspace\nand, if they are the last owner, delete it from the system entirely.",
        "operationId": "delete_document_documents__document_id__delete",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Document Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/documents/{document_id}/workspaces": {
      "post": {
        "tags": [
          "Public API",
          "Public API - Documents"
        ],
        "summary": "Add document to workspaces",
        "description": "Adds a document to one or more workspaces.",
        "operationId": "add_document_to_workspaces_documents__document_id__workspaces_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Document Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchWorkspaceRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Public API",
          "Public API - Documents"
        ],
        "summary": "Remove document from workspaces",
        "description": "Removes a document from one or more workspaces.",
        "operationId": "remove_document_from_workspaces_documents__document_id__workspaces_delete",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Document Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchWorkspaceRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/documents/{document_id}": {
      "delete": {
        "tags": [
          "Public API",
          "Public API - Workspaces"
        ],
        "summary": "Remove a document from a workspace",
        "description": "Removes a document's association from a specific workspace without deleting the document itself.",
        "operationId": "remove_document_from_workspace_workspaces__workspace_id__documents__document_id__delete",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The unique identifier of the workspace.",
              "title": "Workspace Id"
            },
            "description": "The unique identifier of the workspace."
          },
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The unique identifier of the document.",
              "title": "Document Id"
            },
            "description": "The unique identifier of the document."
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/tools": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Tools"
        ],
        "summary": "List available tools",
        "description": "Retrieves a paginated list of all tools accessible to the user.",
        "operationId": "get_public_tools_tools_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPaginatedToolsResponse"
                },
                "example": {
                  "items": [
                    {
                      "id": "d1e2f3a4-b5c6-7890-1234-567890abcdef",
                      "name": "Financial Data Extractor",
                      "description": "Extracts key financial metrics from annual reports."
                    }
                  ],
                  "total": 35,
                  "page": 1,
                  "limit": 20,
                  "has_more": true
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/tools/{tool_id}": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Tools"
        ],
        "summary": "Get tool details",
        "description": "Retrieves the details of a specific tool, provided the user has access.",
        "operationId": "get_public_tool_tools__tool_id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The unique identifier or name of the tool.",
              "title": "Tool Id"
            },
            "description": "The unique identifier or name of the tool."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicTool"
                },
                "example": {
                  "id": "d1e2f3a4-b5c6-7890-1234-567890abcdef",
                  "name": "Financial Data Extractor",
                  "description": "Extracts key financial metrics from annual reports.",
                  "input_schema": {
                    "type": "object",
                    "properties": {
                      "stock_symbol": {
                        "type": "string",
                        "description": "The stock symbol of the company."
                      },
                      "report_year": {
                        "type": "integer",
                        "description": "The year of the financial report."
                      }
                    },
                    "required": [
                      "stock_symbol",
                      "report_year"
                    ]
                  },
                  "media_output_keys": [],
                  "example_responses": [
                    {
                      "revenue": 1000000,
                      "profit": 250000
                    }
                  ],
                  "pricing_config": {
                    "fixed_cost": 0.01
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/tools/{tool_id}/embed-info": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Tools"
        ],
        "summary": "Get tool embedding information",
        "description": "Retrieves the necessary details for embedding a tool's UI, including its schema and allowed domains.",
        "operationId": "get_public_tool_embed_info_tools__tool_id__embed_info_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The unique identifier or name of the tool.",
              "title": "Tool Id"
            },
            "description": "The unique identifier or name of the tool."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicToolEmbedInfo"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/auth/token": {
      "post": {
        "tags": [
          "Public API",
          "Public API - Authentication"
        ],
        "summary": "Get JWT from API Key",
        "description": "Exchange a valid API Key for a short-lived JWT access token.",
        "operationId": "create_token_from_api_key_auth_token_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Token"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/tools/{tool_id}/execute": {
      "post": {
        "tags": [
          "Public API",
          "Public API - Tool Executions"
        ],
        "summary": "Execute a tool",
        "description": "Asynchronously starts a tool execution and returns an execution ID to track the results.",
        "operationId": "execute_public_tool_tools__tool_id__execute_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The unique identifier or name of the tool to execute.",
              "title": "Tool Id"
            },
            "description": "The unique identifier or name of the tool to execute."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicToolExecutionRequest"
              },
              "example": {
                "inputs": {
                  "stock_symbol": "ACME",
                  "report_year": 2023
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicToolExecutionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                },
                "example": {
                  "detail": [
                    {
                      "loc": [
                        "body",
                        "inputs"
                      ],
                      "msg": "field required",
                      "type": "value_error.missing"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/tool-executions/{execution_id}": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Tool Executions"
        ],
        "summary": "Get execution result",
        "description": "Retrieves the status and result of a specific tool execution.",
        "operationId": "get_public_tool_execution_tool_executions__execution_id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "execution_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The unique identifier of the tool execution.",
              "title": "Execution Id"
            },
            "description": "The unique identifier of the tool execution."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicToolExecutionResult"
                },
                "example": {
                  "id": "exec_123456789",
                  "tool_id": "d1e2f3a4-b5c6-7890-1234-567890abcdef",
                  "user_id": 123,
                  "status": "completed",
                  "inputs": {
                    "stock_symbol": "ACME"
                  },
                  "outputs": {
                    "revenue": 1000000,
                    "profit": 250000
                  },
                  "created_at": "2025-09-28T12:00:00Z",
                  "started_at": "2025-09-28T12:00:01Z",
                  "completed_at": "2025-09-28T12:00:05Z"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/tool-executions/{execution_id}/stream": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Tool Executions"
        ],
        "summary": "Stream execution events",
        "description": "Streams Server-Sent Events (SSE) for a tool execution.",
        "operationId": "stream_public_tool_execution_tool_executions__execution_id__stream_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "execution_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The unique identifier of the tool execution.",
              "title": "Execution Id"
            },
            "description": "The unique identifier of the tool execution."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/tool-executions/{execution_id}/provide-input": {
      "post": {
        "tags": [
          "Public API",
          "Public API - Tool Executions"
        ],
        "summary": "Provide input to a waiting tool",
        "description": "Provides the required input to a tool execution that is in the 'waiting_for_input' state.",
        "operationId": "provide_public_tool_input_tool_executions__execution_id__provide_input_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "execution_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The unique identifier of the tool execution that is waiting for input.",
              "title": "Execution Id"
            },
            "description": "The unique identifier of the tool execution that is waiting for input."
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_provide_public_tool_input_tool_executions__execution_id__provide_input_post"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BatchWorkspaceRequest": {
        "properties": {
          "workspace_ids": {
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "type": "array",
            "title": "Workspace Ids",
            "description": "A list of workspace unique identifiers."
          }
        },
        "type": "object",
        "required": [
          "workspace_ids"
        ],
        "title": "BatchWorkspaceRequest"
      },
      "Body_ingest_documents_documents_post": {
        "properties": {
          "files": {
            "anyOf": [
              {
                "items": {
                  "type": "string",
                  "format": "binary"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Files",
            "description": "A list of files to upload."
          },
          "urls": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Urls",
            "description": "A comma-separated list of URLs to scrape."
          },
          "workspace_ids": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Workspace Ids",
            "description": "A comma-separated list of workspace IDs to add the documents to."
          },
          "scraping_mode": {
            "type": "string",
            "title": "Scraping Mode",
            "description": "Scraping mode ('Simple Scraping' or 'Crawling').",
            "default": "Simple Scraping"
          },
          "crawl_depth": {
            "type": "integer",
            "title": "Crawl Depth",
            "description": "The maximum depth for crawling links.",
            "default": 2
          },
          "same_domain_only": {
            "type": "boolean",
            "title": "Same Domain Only",
            "description": "Whether to only crawl links on the same domain.",
            "default": true
          },
          "limit": {
            "type": "integer",
            "title": "Limit",
            "description": "The maximum number of pages to crawl.",
            "default": 10
          },
          "delay": {
            "type": "number",
            "title": "Delay",
            "description": "The delay in seconds between requests.",
            "default": 1.0
          },
          "youtube_download_format": {
            "type": "string",
            "title": "Youtube Download Format",
            "description": "The format to download YouTube videos in ('audio' or 'video').",
            "default": "audio"
          }
        },
        "type": "object",
        "title": "Body_ingest_documents_documents_post"
      },
      "Body_provide_public_tool_input_tool_executions__execution_id__provide_input_post": {
        "properties": {
          "file": {
            "anyOf": [
              {
                "type": "string",
                "format": "binary"
              },
              {
                "type": "null"
              }
            ],
            "title": "File",
            "description": "An optional file to upload as input."
          },
          "input_data_json": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Input Data Json",
            "description": "Optional JSON data to provide as input."
          }
        },
        "type": "object",
        "title": "Body_provide_public_tool_input_tool_executions__execution_id__provide_input_post"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "PublicDocument": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id",
            "description": "The unique identifier for the document."
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "The display name of the document."
          },
          "file_type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "File Type",
            "description": "The MIME type of the document file."
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "The current processing status of the document."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "The timestamp when the document was created."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "title": "Updated At",
            "description": "The timestamp when the document was last updated."
          },
          "processing_pipeline": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Processing Pipeline",
            "description": "The name of the processing pipeline used for this document."
          },
          "error_message": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Error Message",
            "description": "If processing failed, this field will contain the error message."
          },
          "file_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "File Name",
            "description": "The original file name of the document."
          },
          "markdown_content": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Markdown Content",
            "description": "The full content of the document converted to Markdown format."
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "status",
          "created_at",
          "updated_at"
        ],
        "title": "PublicDocument"
      },
      "PublicDocumentListItem": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id",
            "description": "The unique identifier for the document."
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "The display name of the document."
          },
          "file_type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "File Type",
            "description": "The MIME type of the document file."
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "The current processing status of the document."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "The timestamp when the document was created."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "title": "Updated At",
            "description": "The timestamp when the document was last updated."
          },
          "processing_pipeline": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Processing Pipeline",
            "description": "The name of the processing pipeline used for this document."
          },
          "error_message": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Error Message",
            "description": "If processing failed, this field will contain the error message."
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "status",
          "created_at",
          "updated_at"
        ],
        "title": "PublicDocumentListItem"
      },
      "PublicPaginatedDocumentsResponse": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/PublicDocumentListItem"
            },
            "type": "array",
            "title": "Items"
          },
          "total": {
            "type": "integer",
            "title": "Total",
            "description": "Total number of documents available."
          },
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "The current page number."
          },
          "limit": {
            "type": "integer",
            "title": "Limit",
            "description": "The number of items per page."
          },
          "has_more": {
            "type": "boolean",
            "title": "Has More",
            "description": "Indicates if there are more pages available."
          }
        },
        "type": "object",
        "required": [
          "items",
          "total",
          "page",
          "limit",
          "has_more"
        ],
        "title": "PublicPaginatedDocumentsResponse"
      },
      "PublicPaginatedToolsResponse": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/PublicToolListItem"
            },
            "type": "array",
            "title": "Items"
          },
          "total": {
            "type": "integer",
            "title": "Total",
            "description": "Total number of tools available."
          },
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "The current page number."
          },
          "limit": {
            "type": "integer",
            "title": "Limit",
            "description": "The number of items per page."
          },
          "has_more": {
            "type": "boolean",
            "title": "Has More",
            "description": "Indicates if there are more pages available."
          }
        },
        "type": "object",
        "required": [
          "items",
          "total",
          "page",
          "limit",
          "has_more"
        ],
        "title": "PublicPaginatedToolsResponse"
      },
      "PublicPaginatedWorkspacesResponse": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/PublicWorkspace"
            },
            "type": "array",
            "title": "Items"
          },
          "total": {
            "type": "integer",
            "title": "Total",
            "description": "Total number of workspaces available."
          },
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "The current page number."
          },
          "limit": {
            "type": "integer",
            "title": "Limit",
            "description": "The number of items per page."
          },
          "has_more": {
            "type": "boolean",
            "title": "Has More",
            "description": "Indicates if there are more pages available."
          }
        },
        "type": "object",
        "required": [
          "items",
          "total",
          "page",
          "limit",
          "has_more"
        ],
        "title": "PublicPaginatedWorkspacesResponse"
      },
      "PublicTool": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id",
            "description": "The unique identifier for the tool."
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "The name of the tool."
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "A brief description of what the tool does."
          },
          "input_schema": {
            "$ref": "#/components/schemas/ToolInputSchema",
            "description": "The JSON schema defining the inputs for the tool."
          },
          "media_output_keys": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Media Output Keys",
            "description": "A list of keys in the output that contain media URLs."
          },
          "example_responses": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Example Responses",
            "description": "A list of example inputs and their corresponding outputs for the tool."
          },
          "pricing_config": {
            "$ref": "#/components/schemas/ToolPricingConfig",
            "description": "The pricing configuration for executing the tool."
          },
          "ui_location": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ui Location",
            "description": "Configuration for a custom UI to render for this tool."
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "input_schema",
          "media_output_keys",
          "example_responses",
          "pricing_config"
        ],
        "title": "PublicTool"
      },
      "PublicToolEmbedInfo": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id",
            "description": "The unique identifier for the tool."
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "The name of the tool."
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "A brief description of what the tool does."
          },
          "input_schema": {
            "$ref": "#/components/schemas/ToolInputSchema",
            "description": "The JSON schema defining the inputs for the tool."
          },
          "media_output_keys": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Media Output Keys",
            "description": "A list of keys in the output that contain media URLs."
          },
          "example_responses": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Example Responses",
            "description": "A list of example inputs and their corresponding outputs for the tool."
          },
          "pricing_config": {
            "$ref": "#/components/schemas/ToolPricingConfig",
            "description": "The pricing configuration for executing the tool."
          },
          "ui_location": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ui Location",
            "description": "Configuration for a custom UI to render for this tool."
          },
          "allowed_origins": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Allowed Origins",
            "description": "A list of allowed domains for embedding this tool."
          },
          "access_token": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Access Token",
            "description": "A short-lived JWT access token for authenticating API calls from the embedded UI."
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "input_schema",
          "media_output_keys",
          "example_responses",
          "pricing_config",
          "allowed_origins"
        ],
        "title": "PublicToolEmbedInfo"
      },
      "PublicToolExecutionRequest": {
        "properties": {
          "inputs": {
            "additionalProperties": true,
            "type": "object",
            "title": "Inputs",
            "description": "A dictionary of inputs for the tool, matching its input_schema."
          }
        },
        "type": "object",
        "required": [
          "inputs"
        ],
        "title": "PublicToolExecutionRequest"
      },
      "PublicToolExecutionResponse": {
        "properties": {
          "execution_id": {
            "type": "string",
            "title": "Execution Id",
            "description": "The unique identifier for this tool execution instance."
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "The current status of the execution."
          },
          "tool_id": {
            "type": "string",
            "format": "uuid",
            "title": "Tool Id",
            "description": "The ID of the tool being executed."
          },
          "details_url": {
            "type": "string",
            "title": "Details Url",
            "description": "The URL to poll for the final execution result."
          },
          "stream_url": {
            "type": "string",
            "title": "Stream Url",
            "description": "The URL to stream real-time events for this execution."
          }
        },
        "type": "object",
        "required": [
          "execution_id",
          "status",
          "tool_id",
          "details_url",
          "stream_url"
        ],
        "title": "PublicToolExecutionResponse"
      },
      "PublicToolExecutionResult": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "The unique identifier for the execution instance."
          },
          "tool_id": {
            "type": "string",
            "format": "uuid",
            "title": "Tool Id",
            "description": "The ID of the tool that was executed."
          },
          "user_id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "User Id",
            "description": "The ID of the user who initiated the execution."
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "The final status of the execution."
          },
          "inputs": {
            "additionalProperties": true,
            "type": "object",
            "title": "Inputs",
            "description": "The original inputs provided to the tool."
          },
          "outputs": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Outputs",
            "description": "The outputs generated by the tool."
          },
          "error": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Error",
            "description": "If the execution failed, this contains the error message."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "Timestamp when the execution was created."
          },
          "started_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Started At",
            "description": "Timestamp when the execution started processing."
          },
          "completed_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Completed At",
            "description": "Timestamp when the execution completed or failed."
          }
        },
        "type": "object",
        "required": [
          "id",
          "tool_id",
          "status",
          "inputs",
          "created_at"
        ],
        "title": "PublicToolExecutionResult"
      },
      "PublicToolListItem": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id",
            "description": "The unique identifier for the tool."
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "The name of the tool."
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "A brief description of what the tool does."
          }
        },
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "title": "PublicToolListItem"
      },
      "PublicUserResponse": {
        "properties": {
          "username": {
            "type": "string",
            "title": "Username",
            "description": "The username of the user."
          },
          "full_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Full Name",
            "description": "The full name of the user."
          },
          "uuid_id": {
            "type": "string",
            "format": "uuid",
            "title": "Uuid Id",
            "description": "The unique identifier for the user."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "The timestamp when the user account was created."
          },
          "balance": {
            "type": "number",
            "title": "Balance",
            "description": "The current balance of the user's account."
          },
          "chat_session_count": {
            "type": "integer",
            "title": "Chat Session Count",
            "description": "The total number of chat sessions initiated by the user."
          },
          "document_count": {
            "type": "integer",
            "title": "Document Count",
            "description": "The total number of documents accessible to the user."
          },
          "workspace_count": {
            "type": "integer",
            "title": "Workspace Count",
            "description": "The total number of workspaces accessible to the user."
          },
          "assistant_count": {
            "type": "integer",
            "title": "Assistant Count",
            "description": "The total number of assistants accessible to the user."
          }
        },
        "type": "object",
        "required": [
          "username",
          "uuid_id",
          "created_at",
          "balance",
          "chat_session_count",
          "document_count",
          "workspace_count",
          "assistant_count"
        ],
        "title": "PublicUserResponse",
        "description": "Schema for publicly exposed user information."
      },
      "PublicWorkspace": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id",
            "description": "The unique identifier for the workspace."
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "The name of the workspace."
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "A brief description of the workspace's purpose."
          },
          "is_default": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Default",
            "description": "Indicates if this is the default workspace for the user.",
            "default": false
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "The timestamp when the workspace was created."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "title": "Updated At",
            "description": "The timestamp when the workspace was last updated."
          },
          "document_count": {
            "type": "integer",
            "title": "Document Count",
            "description": "The number of documents contained within the workspace."
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "created_at",
          "updated_at",
          "document_count"
        ],
        "title": "PublicWorkspace"
      },
      "Token": {
        "properties": {
          "access_token": {
            "type": "string",
            "title": "Access Token"
          },
          "token_type": {
            "type": "string",
            "title": "Token Type"
          }
        },
        "type": "object",
        "required": [
          "access_token",
          "token_type"
        ],
        "title": "Token"
      },
      "ToolInputSchema": {
        "properties": {
          "type": {
            "type": "string",
            "title": "Type",
            "default": "object"
          },
          "properties": {
            "additionalProperties": {
              "$ref": "#/components/schemas/ToolPropertySchema"
            },
            "type": "object",
            "title": "Properties",
            "description": "An object defining the properties of the input object."
          },
          "required": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Required",
            "description": "A list of property names that are required."
          }
        },
        "type": "object",
        "title": "ToolInputSchema"
      },
      "ToolPricingConfig": {
        "properties": {
          "fixed_cost": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fixed Cost",
            "description": "Fixed cost per execution."
          },
          "variable_cost_per_unit": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Variable Cost Per Unit",
            "description": "Variable cost per unit."
          },
          "unit": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Unit",
            "description": "Unit for variable cost (e.g., 'token', 'page', 'minute')."
          }
        },
        "type": "object",
        "title": "ToolPricingConfig"
      },
      "ToolPropertySchema": {
        "properties": {
          "type": {
            "type": "string",
            "title": "Type",
            "description": "The data type of the property (e.g., 'string', 'integer')."
          },
          "description": {
            "type": "string",
            "title": "Description",
            "description": "A description of what the property represents."
          },
          "enum": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Enum",
            "description": "A list of possible values if the property is an enumeration."
          }
        },
        "type": "object",
        "required": [
          "type",
          "description"
        ],
        "title": "ToolPropertySchema"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "WorkspaceCreate": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "description": "The name of the workspace."
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "A brief description of the workspace's purpose."
          },
          "is_default": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Default",
            "description": "Indicates if this is the default workspace for the user.",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "name"
        ],
        "title": "WorkspaceCreate"
      }
    },
    "securitySchemes": {
      "APIKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    }
  }
}