{
  "openapi": "3.1.0",
  "info": {
    "title": "UBIK Public API",
    "description": "Publicly accessible API endpoints for UBIK.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://app.ubik-agent.com/api/v1",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "Public API",
          "Public API"
        ],
        "summary": "État du service",
        "description": "Route pour la vérification de l'état du service de l'API publique.",
        "operationId": "health_check_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "status": "ok",
                  "user": "testuser"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/users/me": {
      "get": {
        "tags": [
          "Public API",
          "Public API",
          "Users"
        ],
        "summary": "Consulter l'utilisateur actuel",
        "description": "Récupère les informations détaillées de l'utilisateur currently authentifié.",
        "operationId": "read_current_user_users_me_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicUserResponse"
                },
                "example": {
                  "username": "testuser",
                  "full_name": "Test User",
                  "uuid_id": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
                  "created_at": "2025-09-28T12:00:00Z",
                  "balance": 100.0,
                  "chat_session_count": 5,
                  "document_count": 42,
                  "workspace_count": 3,
                  "assistant_count": 2
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/workspaces": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Workspaces"
        ],
        "summary": "Lister les espaces de travail",
        "description": "Récupère une liste paginée de tous les espaces de travail accessibles à l'utilisateur, incluant les espaces personnels et ceux partagés via l'entreprise.",
        "operationId": "get_workspaces_workspaces_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPaginatedWorkspacesResponse"
                },
                "example": {
                  "items": [
                    {
                      "id": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
                      "name": "My Project Workspace",
                      "description": "Contains all documents related to the Q1 sales report.",
                      "is_default": true,
                      "created_at": "2025-09-28T10:00:00Z",
                      "updated_at": "2025-09-28T11:00:00Z",
                      "document_count": 42
                    }
                  ],
                  "total": 1,
                  "page": 1,
                  "limit": 20,
                  "has_more": false
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Public API",
          "Public API - Workspaces"
        ],
        "summary": "Créer un espace de travail",
        "description": "Crée un nouvel espace de travail personnel pour l'utilisateur.",
        "operationId": "create_workspace_workspaces_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceCreate"
              },
              "example": {
                "name": "New Project Workspace",
                "description": "Workspace for the new project.",
                "is_default": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicWorkspace"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                },
                "example": {
                  "detail": [
                    {
                      "loc": [
                        "body",
                        "name"
                      ],
                      "msg": "field required",
                      "type": "value_error.missing"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Workspaces"
        ],
        "summary": "Détails d'un espace de travail",
        "description": "Récupère les informations détaillées d'un espace de travail spécifique, si l'utilisateur dispose des permissions nécessaires.",
        "operationId": "get_workspace_workspaces__workspace_id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Workspace Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicWorkspace"
                },
                "example": {
                  "id": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
                  "name": "My Project Workspace",
                  "description": "Contains all documents related to the Q1 sales report.",
                  "is_default": true,
                  "created_at": "2025-09-28T10:00:00Z",
                  "updated_at": "2025-09-28T11:00:00Z",
                  "document_count": 42
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Public API",
          "Public API - Workspaces"
        ],
        "summary": "Supprimer un espace de travail",
        "description": "Supprime un espace de travail, si l'utilisateur en est le propriétaire.",
        "operationId": "delete_workspace_workspaces__workspace_id__delete",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The unique identifier of the workspace.",
              "title": "Workspace Id"
            },
            "description": "L'identifiant unique de l'espace de travail."
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/documents": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Workspaces"
        ],
        "summary": "Lister les documents dans un espace de travail",
        "description": "Récupère une liste paginée de documents dans un espace de travail spécifique.",
        "operationId": "get_workspace_documents_workspaces__workspace_id__documents_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Workspace Id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPaginatedDocumentsResponse"
                },
                "example": {
                  "items": [
                    {
                      "id": "c1d2e3f4-a5b6-7890-1234-567890abcdef",
                      "name": "Q1 Sales Report.pdf",
                      "file_type": "application/pdf",
                      "status": "completed",
                      "created_at": "2025-09-28T10:05:00Z",
                      "updated_at": "2025-09-28T10:05:00Z",
                      "processing_pipeline": "default-pipeline"
                    }
                  ],
                  "total": 1,
                  "page": 1,
                  "limit": 20,
                  "has_more": false
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/documents": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Documents"
        ],
        "summary": "Lister les documents",
        "description": "Récupère une liste paginée de tous les documents accessibles à l'utilisateur.",
        "operationId": "get_documents_documents_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPaginatedDocumentsResponse"
                },
                "example": {
                  "items": [
                    {
                      "id": "c1d2e3f4-a5b6-7890-1234-567890abcdef",
                      "name": "Q1 Sales Report.pdf",
                      "file_type": "application/pdf",
                      "status": "completed",
                      "created_at": "2025-09-28T10:05:00Z",
                      "updated_at": "2025-09-28T10:05:00Z",
                      "processing_pipeline": "default-pipeline"
                    }
                  ],
                  "total": 256,
                  "page": 1,
                  "limit": 20,
                  "has_more": true
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Public API",
          "Public API - Documents"
        ],
        "summary": "Ingestion de documents (fichiers ou URLs)",
        "description": "Route unifiée pour ingérer des documents depuis diverses sources.\n\nCette route gère le téléversement de fichiers et le scraping d'URLs en une seule requête (multipart/form-data).\n\n- Pour importer des fichiers, utilisez le champ 'files'.\n- Pour scraper des URLs, utilisez le champ 'urls' (liste séparée par des virgules).\n- Associez les documents à des espaces de travail via 'workspace_ids'.\n\n**Note:** Les types de fichiers pris en charge dépendent des capacités actives du serveur (par exemple, les fichiers audio/vidéo nécessitent que la transcription soit activée).",
        "operationId": "ingest_documents_documents_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_ingest_documents_documents_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicDocument"
                  },
                  "title": "Response Ingest Documents Documents Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Either 'files' or 'urls' must be provided."
                }
              }
            }
          }
        }
      }
    },
    "/documents/{document_id}": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Documents"
        ],
        "summary": "Détails d'un document",
        "description": "Récupère les informations détaillées d'un document spécifique, si l'utilisateur dispose des permissions nécessaires.",
        "operationId": "get_document_documents__document_id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Document Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDocument"
                },
                "example": {
                  "id": "c1d2e3f4-a5b6-7890-1234-567890abcdef",
                  "name": "Q1 Sales Report.pdf",
                  "file_type": "application/pdf",
                  "status": "completed",
                  "created_at": "2025-09-28T10:05:00Z",
                  "updated_at": "2025-09-28T10:05:00Z",
                  "processing_pipeline": "default-pipeline",
                  "file_name": "2024_Q1_Sales_Final_v2.pdf",
                  "markdown_content": "# Q1 Sales Report..."
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Public API",
          "Public API - Documents"
        ],
        "summary": "Supprimer un document",
        "description": "Supprime un document. Cette action le retire de l'espace de travail par défaut de l'utilisateur et le supprime définitivement du système si l'utilisateur en est le dernier propriétaire.",
        "operationId": "delete_document_documents__document_id__delete",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Document Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/documents/{document_id}/workspaces": {
      "post": {
        "tags": [
          "Public API",
          "Public API - Documents"
        ],
        "summary": "Ajouter un document aux espaces de travail",
        "description": "Ajoute un document à un ou plusieurs espaces de travail.",
        "operationId": "add_document_to_workspaces_documents__document_id__workspaces_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Document Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchWorkspaceRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Public API",
          "Public API - Documents"
        ],
        "summary": "Retirer un document d'espaces de travail",
        "description": "Retire un document d'un ou de plusieurs espaces de travail.",
        "operationId": "remove_document_from_workspaces_documents__document_id__workspaces_delete",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Document Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchWorkspaceRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/documents/{document_id}": {
      "delete": {
        "tags": [
          "Public API",
          "Public API - Workspaces"
        ],
        "summary": "Retirer un document d'un espace de travail",
        "description": "Retire un document d'un espace de travail spécifique, sans supprimer le document lui-même.",
        "operationId": "remove_document_from_workspace_workspaces__workspace_id__documents__document_id__delete",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The unique identifier of the workspace.",
              "title": "Workspace Id"
            },
            "description": "L'identifiant unique de l'espace de travail."
          },
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The unique identifier of the document.",
              "title": "Document Id"
            },
            "description": "L'identifiant unique du document."
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/tools": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Tools"
        ],
        "summary": "Lister les outils disponibles",
        "description": "Récupère une liste paginée de tous les outils accessibles à l'utilisateur.",
        "operationId": "get_public_tools_tools_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPaginatedToolsResponse"
                },
                "example": {
                  "items": [
                    {
                      "id": "d1e2f3a4-b5c6-7890-1234-567890abcdef",
                      "name": "Financial Data Extractor",
                      "description": "Extracts key financial metrics from annual reports."
                    }
                  ],
                  "total": 35,
                  "page": 1,
                  "limit": 20,
                  "has_more": true
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/tools/{tool_id}": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Tools"
        ],
        "summary": "Détails d'un outil",
        "description": "Récupère les informations détaillées d'un outil spécifique, si l'utilisateur dispose des permissions nécessaires.",
        "operationId": "get_public_tool_tools__tool_id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The unique identifier or name of the tool.",
              "title": "Tool Id"
            },
            "description": "L'identifiant unique ou le nom de l'outil."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicTool"
                },
                "example": {
                  "id": "d1e2f3a4-b5c6-7890-1234-567890abcdef",
                  "name": "Financial Data Extractor",
                  "description": "Extracts key financial metrics from annual reports.",
                  "input_schema": {
                    "type": "object",
                    "properties": {
                      "stock_symbol": {
                        "type": "string",
                        "description": "The stock symbol of the company."
                      },
                      "report_year": {
                        "type": "integer",
                        "description": "The year of the financial report."
                      }
                    },
                    "required": [
                      "stock_symbol",
                      "report_year"
                    ]
                  },
                  "media_output_keys": [],
                  "example_responses": [
                    {
                      "revenue": 1000000,
                      "profit": 250000
                    }
                  ],
                  "pricing_config": {
                    "fixed_cost": 0.01
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/tools/{tool_id}/embed-info": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Tools"
        ],
        "summary": "Obtenir les informations d'intégration d'un outil",
        "description": "Récupère les détails nécessaires pour intégrer l'interface utilisateur d'un outil, y compris son schéma et les domaines autorisés.",
        "operationId": "get_public_tool_embed_info_tools__tool_id__embed_info_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The unique identifier or name of the tool.",
              "title": "Tool Id"
            },
            "description": "L'identifiant unique ou le nom de l'outil."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicToolEmbedInfo"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/auth/token": {
      "post": {
        "tags": [
          "Public API",
          "Public API - Authentication"
        ],
        "summary": "Obtenir un JWT depuis une clé d'API",
        "description": "Échange une clé d'API valide contre un token d'accès JWT de courte durée.",
        "operationId": "create_token_from_api_key_auth_token_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Token"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/tools/{tool_id}/execute": {
      "post": {
        "tags": [
          "Public API",
          "Public API - Tool Executions"
        ],
        "summary": "Exécuter un outil",
        "description": "Démarre de manière asynchrone l'exécution d'un outil et renvoie un ID pour suivre les résultats.",
        "operationId": "execute_public_tool_tools__tool_id__execute_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The unique identifier or name of the tool to execute.",
              "title": "Tool Id"
            },
            "description": "L'identifiant unique ou le nom de l'outil à exécuter."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicToolExecutionRequest"
              },
              "example": {
                "inputs": {
                  "stock_symbol": "ACME",
                  "report_year": 2023
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicToolExecutionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                },
                "example": {
                  "detail": [
                    {
                      "loc": [
                        "body",
                        "inputs"
                      ],
                      "msg": "field required",
                      "type": "value_error.missing"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/tool-executions/{execution_id}": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Tool Executions"
        ],
        "summary": "Résultat d'une exécution",
        "description": "Récupère le statut et le résultat d'une exécution d'outil spécifique.",
        "operationId": "get_public_tool_execution_tool_executions__execution_id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "execution_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The unique identifier of the tool execution.",
              "title": "Execution Id"
            },
            "description": "L'identifiant unique de l'exécution de l'outil."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicToolExecutionResult"
                },
                "example": {
                  "id": "exec_123456789",
                  "tool_id": "d1e2f3a4-b5c6-7890-1234-567890abcdef",
                  "user_id": 123,
                  "status": "completed",
                  "inputs": {
                    "stock_symbol": "ACME"
                  },
                  "outputs": {
                    "revenue": 1000000,
                    "profit": 250000
                  },
                  "created_at": "2025-09-28T12:00:00Z",
                  "started_at": "2025-09-28T12:00:01Z",
                  "completed_at": "2025-09-28T12:00:05Z"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/tool-executions/{execution_id}/stream": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Tool Executions"
        ],
        "summary": "Streaming des événements d'exécution",
        "description": "Permet de s'abonner en temps réel aux événements (Server-Sent Events) d'une exécution d'outil.",
        "operationId": "stream_public_tool_execution_tool_executions__execution_id__stream_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "execution_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The unique identifier of the tool execution.",
              "title": "Execution Id"
            },
            "description": "L'identifiant unique de l'exécution de l'outil."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/tool-executions/{execution_id}/provide-input": {
      "post": {
        "tags": [
          "Public API",
          "Public API - Tool Executions"
        ],
        "summary": "Soumettre des données à un outil en attente",
        "description": "Permet de fournir les données requises par une exécution d'outil actuellement en état 'waiting_for_input'.",
        "operationId": "provide_public_tool_input_tool_executions__execution_id__provide_input_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "execution_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The unique identifier of the tool execution that is waiting for input.",
              "title": "Execution Id"
            },
            "description": "L'identifiant unique de l'exécution de l'outil qui attend une entrée."
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_provide_public_tool_input_tool_executions__execution_id__provide_input_post"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BatchWorkspaceRequest": {
        "properties": {
          "workspace_ids": {
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "type": "array",
            "title": "Workspace Ids",
            "description": "Une liste d'identifiants uniques d'espaces de travail."
          }
        },
        "type": "object",
        "required": [
          "workspace_ids"
        ],
        "title": "BatchWorkspaceRequest"
      },
      "Body_ingest_documents_documents_post": {
        "properties": {
          "files": {
            "anyOf": [
              {
                "items": {
                  "type": "string",
                  "format": "binary"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Files",
            "description": "Une liste de fichiers à importer."
          },
          "urls": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Urls",
            "description": "Une liste d'URLs à scraper, séparées par des virgules."
          },
          "workspace_ids": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Workspace Ids",
            "description": "Une liste d'IDs d'espaces de travail où ajouter les documents, séparées par des virgules."
          },
          "scraping_mode": {
            "type": "string",
            "title": "Scraping Mode",
            "description": "Mode de scraping ('Simple Scraping' ou 'Crawling').",
            "default": "Simple Scraping"
          },
          "crawl_depth": {
            "type": "integer",
            "title": "Crawl Depth",
            "description": "La profondeur maximale pour le crawling des liens.",
            "default": 2
          },
          "same_domain_only": {
            "type": "boolean",
            "title": "Same Domain Only",
            "description": "Indique s'il faut uniquement crawler les liens du même domaine.",
            "default": true
          },
          "limit": {
            "type": "integer",
            "title": "Limit",
            "description": "Le nombre maximum de pages à crawler.",
            "default": 10
          },
          "delay": {
            "type": "number",
            "title": "Delay",
            "description": "Le délai en secondes entre les requêtes.",
            "default": 1.0
          },
          "youtube_download_format": {
            "type": "string",
            "title": "Youtube Download Format",
            "description": "Le format de téléchargement pour les vidéos YouTube ('audio' ou 'video').",
            "default": "audio"
          }
        },
        "type": "object",
        "title": "Body_ingest_documents_documents_post"
      },
      "Body_provide_public_tool_input_tool_executions__execution_id__provide_input_post": {
        "properties": {
          "file": {
            "anyOf": [
              {
                "type": "string",
                "format": "binary"
              },
              {
                "type": "null"
              }
            ],
            "title": "File",
            "description": "Un fichier optionnel à importer comme entrée."
          },
          "input_data_json": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Input Data Json",
            "description": "Données JSON optionnelles à fournir comme entrée."
          }
        },
        "type": "object",
        "title": "Body_provide_public_tool_input_tool_executions__execution_id__provide_input_post"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "PublicDocument": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id",
            "description": "L'identifiant unique du document."
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Le nom d'affichage du document."
          },
          "file_type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "File Type",
            "description": "Le type MIME du fichier du document."
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "Le statut de traitement actuel du document."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "L'horodatage de la création du document."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "title": "Updated At",
            "description": "L'horodatage de la dernière mise à jour du document."
          },
          "processing_pipeline": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Processing Pipeline",
            "description": "Le nom du pipeline de traitement utilisé pour ce document."
          },
          "error_message": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Error Message",
            "description": "Si le traitement a échoué, ce champ contiendra le message d'erreur."
          },
          "file_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "File Name",
            "description": "Le nom de fichier original du document."
          },
          "markdown_content": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Markdown Content",
            "description": "Le contenu complet du document converti au format Markdown."
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "status",
          "created_at",
          "updated_at"
        ],
        "title": "PublicDocument"
      },
      "PublicDocumentListItem": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id",
            "description": "L'identifiant unique du document."
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Le nom d'affichage du document."
          },
          "file_type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "File Type",
            "description": "Le type MIME du fichier du document."
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "Le statut de traitement actuel du document."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "L'horodatage de la création du document."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "title": "Updated At",
            "description": "L'horodatage de la dernière mise à jour du document."
          },
          "processing_pipeline": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Processing Pipeline",
            "description": "Le nom du pipeline de traitement utilisé pour ce document."
          },
          "error_message": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Error Message",
            "description": "Si le traitement a échoué, ce champ contiendra le message d'erreur."
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "status",
          "created_at",
          "updated_at"
        ],
        "title": "PublicDocumentListItem"
      },
      "PublicPaginatedDocumentsResponse": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/PublicDocumentListItem"
            },
            "type": "array",
            "title": "Items"
          },
          "total": {
            "type": "integer",
            "title": "Total",
            "description": "Nombre total de documents disponibles."
          },
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "Le numéro de la page actuelle."
          },
          "limit": {
            "type": "integer",
            "title": "Limit",
            "description": "Le nombre d'éléments par page."
          },
          "has_more": {
            "type": "boolean",
            "title": "Has More",
            "description": "Indique s'il y a d'autres pages disponibles."
          }
        },
        "type": "object",
        "required": [
          "items",
          "total",
          "page",
          "limit",
          "has_more"
        ],
        "title": "PublicPaginatedDocumentsResponse"
      },
      "PublicPaginatedToolsResponse": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/PublicToolListItem"
            },
            "type": "array",
            "title": "Items"
          },
          "total": {
            "type": "integer",
            "title": "Total",
            "description": "Nombre total d'outils disponibles."
          },
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "Le numéro de la page actuelle."
          },
          "limit": {
            "type": "integer",
            "title": "Limit",
            "description": "Le nombre d'éléments par page."
          },
          "has_more": {
            "type": "boolean",
            "title": "Has More",
            "description": "Indique s'il y a d'autres pages disponibles."
          }
        },
        "type": "object",
        "required": [
          "items",
          "total",
          "page",
          "limit",
          "has_more"
        ],
        "title": "PublicPaginatedToolsResponse"
      },
      "PublicPaginatedWorkspacesResponse": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/PublicWorkspace"
            },
            "type": "array",
            "title": "Items"
          },
          "total": {
            "type": "integer",
            "title": "Total",
            "description": "Nombre total d'espaces de travail disponibles."
          },
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "Le numéro de la page actuelle."
          },
          "limit": {
            "type": "integer",
            "title": "Limit",
            "description": "Le nombre d'éléments par page."
          },
          "has_more": {
            "type": "boolean",
            "title": "Has More",
            "description": "Indique s'il y a d'autres pages disponibles."
          }
        },
        "type": "object",
        "required": [
          "items",
          "total",
          "page",
          "limit",
          "has_more"
        ],
        "title": "PublicPaginatedWorkspacesResponse"
      },
      "PublicTool": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id",
            "description": "L'identifiant unique de l'outil."
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Le nom de l'outil."
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "Une brève description de ce que fait l'outil."
          },
          "input_schema": {
            "$ref": "#/components/schemas/ToolInputSchema",
            "description": "Le schéma JSON définissant les entrées pour l'outil."
          },
          "media_output_keys": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Media Output Keys",
            "description": "Une liste de clés dans la sortie qui contiennent des URL de médias."
          },
          "example_responses": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Example Responses",
            "description": "Une liste d'exemples d'entrées et de leurs sorties correspondantes pour l'outil."
          },
          "pricing_config": {
            "$ref": "#/components/schemas/ToolPricingConfig",
            "description": "La configuration de tarification pour l'exécution de l'outil."
          },
          "ui_location": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ui Location",
            "description": "Configuration pour une interface utilisateur personnalisée à afficher pour cet outil."
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "input_schema",
          "media_output_keys",
          "example_responses",
          "pricing_config"
        ],
        "title": "PublicTool"
      },
      "PublicToolEmbedInfo": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id",
            "description": "L'identifiant unique de l'outil."
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Le nom de l'outil."
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "Une brève description de ce que fait l'outil."
          },
          "input_schema": {
            "$ref": "#/components/schemas/ToolInputSchema",
            "description": "Le schéma JSON définissant les entrées pour l'outil."
          },
          "media_output_keys": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Media Output Keys",
            "description": "Une liste de clés dans la sortie qui contiennent des URL de médias."
          },
          "example_responses": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Example Responses",
            "description": "Une liste d'exemples d'entrées et de leurs sorties correspondantes pour l'outil."
          },
          "pricing_config": {
            "$ref": "#/components/schemas/ToolPricingConfig",
            "description": "La configuration de tarification pour l'exécution de l'outil."
          },
          "ui_location": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ui Location",
            "description": "Configuration pour une interface utilisateur personnalisée à afficher pour cet outil."
          },
          "allowed_origins": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Allowed Origins",
            "description": "Une liste de domaines autorisés pour l'intégration de cet outil."
          },
          "access_token": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Access Token",
            "description": "Un jeton d'accès JWT de courte durée pour authentifier les appels API depuis l'interface utilisateur intégrée."
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "input_schema",
          "media_output_keys",
          "example_responses",
          "pricing_config",
          "allowed_origins"
        ],
        "title": "PublicToolEmbedInfo"
      },
      "PublicToolExecutionRequest": {
        "properties": {
          "inputs": {
            "additionalProperties": true,
            "type": "object",
            "title": "Inputs",
            "description": "Un dictionnaire d'entrées pour l'outil, correspondant à son input_schema."
          }
        },
        "type": "object",
        "required": [
          "inputs"
        ],
        "title": "PublicToolExecutionRequest"
      },
      "PublicToolExecutionResponse": {
        "properties": {
          "execution_id": {
            "type": "string",
            "title": "Execution Id",
            "description": "L'identifiant unique de cette instance d'exécution d'outil."
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "Le statut actuel de l'exécution."
          },
          "tool_id": {
            "type": "string",
            "format": "uuid",
            "title": "Tool Id",
            "description": "L'ID de l'outil en cours d'exécution."
          },
          "details_url": {
            "type": "string",
            "title": "Details Url",
            "description": "L'URL pour interroger le résultat final de l'exécution."
          },
          "stream_url": {
            "type": "string",
            "title": "Stream Url",
            "description": "L'URL pour diffuser en temps réel les événements de cette exécution."
          }
        },
        "type": "object",
        "required": [
          "execution_id",
          "status",
          "tool_id",
          "details_url",
          "stream_url"
        ],
        "title": "PublicToolExecutionResponse"
      },
      "PublicToolExecutionResult": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "L'identifiant unique de l'instance d'exécution."
          },
          "tool_id": {
            "type": "string",
            "format": "uuid",
            "title": "Tool Id",
            "description": "L'ID de l'outil qui a été exécuté."
          },
          "user_id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "User Id",
            "description": "L'ID de l'utilisateur qui a initié l'exécution."
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "Le statut final de l'exécution."
          },
          "inputs": {
            "additionalProperties": true,
            "type": "object",
            "title": "Inputs",
            "description": "Les entrées originales fournies à l'outil."
          },
          "outputs": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Outputs",
            "description": "Les sorties générées par l'outil."
          },
          "error": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Error",
            "description": "Si l'exécution a échoué, ce champ contient le message d'erreur."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "Horodatage de la création de l'exécution."
          },
          "started_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Started At",
            "description": "Horodatage du début du traitement de l'exécution."
          },
          "completed_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Completed At",
            "description": "Horodatage de la fin (succès ou échec) de l'exécution."
          }
        },
        "type": "object",
        "required": [
          "id",
          "tool_id",
          "status",
          "inputs",
          "created_at"
        ],
        "title": "PublicToolExecutionResult"
      },
      "PublicToolListItem": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id",
            "description": "L'identifiant unique de l'outil."
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Le nom de l'outil."
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "Une brève description de ce que fait l'outil."
          }
        },
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "title": "PublicToolListItem"
      },
      "PublicUserResponse": {
        "properties": {
          "username": {
            "type": "string",
            "title": "Username",
            "description": "Le nom d'utilisateur de l'utilisateur."
          },
          "full_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Full Name",
            "description": "Le nom complet de l'utilisateur."
          },
          "uuid_id": {
            "type": "string",
            "format": "uuid",
            "title": "Uuid Id",
            "description": "L'identifiant unique de l'utilisateur."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "L'horodatage de la création du compte de l'utilisateur."
          },
          "balance": {
            "type": "number",
            "title": "Balance",
            "description": "Le solde actuel du compte de l'utilisateur."
          },
          "chat_session_count": {
            "type": "integer",
            "title": "Chat Session Count",
            "description": "Le nombre total de sessions de chat initiées par l'utilisateur."
          },
          "document_count": {
            "type": "integer",
            "title": "Document Count",
            "description": "Le nombre total de documents accessibles à l'utilisateur."
          },
          "workspace_count": {
            "type": "integer",
            "title": "Workspace Count",
            "description": "Le nombre total d'espaces de travail accessibles à l'utilisateur."
          },
          "assistant_count": {
            "type": "integer",
            "title": "Assistant Count",
            "description": "Le nombre total d'assistants accessibles à l'utilisateur."
          }
        },
        "type": "object",
        "required": [
          "username",
          "uuid_id",
          "created_at",
          "balance",
          "chat_session_count",
          "document_count",
          "workspace_count",
          "assistant_count"
        ],
        "title": "PublicUserResponse",
        "description": "Schema for publicly exposed user information."
      },
      "PublicWorkspace": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id",
            "description": "L'identifiant unique de l'espace de travail."
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Le nom de l'espace de travail."
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "Une brève description de l'objectif de l'espace de travail."
          },
          "is_default": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Default",
            "description": "Indique s'il s'agit de l'espace de travail par défaut pour l'utilisateur.",
            "default": false
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "L'horodatage de la création de l'espace de travail."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "title": "Updated At",
            "description": "L'horodatage de la dernière mise à jour de l'espace de travail."
          },
          "document_count": {
            "type": "integer",
            "title": "Document Count",
            "description": "Le nombre de documents contenus dans l'espace de travail."
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "created_at",
          "updated_at",
          "document_count"
        ],
        "title": "PublicWorkspace"
      },
      "Token": {
        "properties": {
          "access_token": {
            "type": "string",
            "title": "Access Token"
          },
          "token_type": {
            "type": "string",
            "title": "Token Type"
          }
        },
        "type": "object",
        "required": [
          "access_token",
          "token_type"
        ],
        "title": "Token"
      },
      "ToolInputSchema": {
        "properties": {
          "type": {
            "title": "Type",
            "default": "object"
          },
          "properties": {
            "additionalProperties": {
              "$ref": "#/components/schemas/ToolPropertySchema"
            },
            "type": "object",
            "title": "Properties",
            "description": "Un objet définissant les propriétés de l'objet d'entrée."
          },
          "required": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Required",
            "description": "Une liste des noms de propriétés qui sont requis."
          },
          "additionalProperties": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Additionalproperties",
            "default": false
          },
          "$defs": {
            "anyOf": [
              {
                "additionalProperties": {
                  "$ref": "#/components/schemas/ToolPropertySchema"
                },
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "$Defs"
          }
        },
        "type": "object",
        "title": "ToolInputSchema"
      },
      "ToolPricingConfig": {
        "properties": {
          "fixed_cost": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fixed Cost",
            "description": "Coût fixe par exécution."
          },
          "variable_cost_per_unit": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Variable Cost Per Unit",
            "description": "Coût variable par unité."
          },
          "unit": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Unit",
            "description": "Unité pour le coût variable (par ex., 'token', 'page', 'minute')."
          }
        },
        "type": "object",
        "title": "ToolPricingConfig"
      },
      "ToolPropertySchema": {
        "properties": {
          "type": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ],
            "title": "Type",
            "description": "Le type de données de la propriété (par ex., 'string', 'integer')."
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "Une description de ce que représente la propriété."
          },
          "enum": {
            "anyOf": [
              {
                "items": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "integer"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Enum",
            "description": "Une liste de valeurs possibles si la propriété est une énumération."
          },
          "properties": {
            "anyOf": [
              {
                "additionalProperties": {
                  "$ref": "#/components/schemas/ToolPropertySchema"
                },
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Properties"
          },
          "items": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ToolPropertySchema"
              },
              {
                "items": {
                  "$ref": "#/components/schemas/ToolPropertySchema"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Items"
          },
          "required": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Required"
          },
          "additionalProperties": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Additionalproperties"
          },
          "default": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ],
            "title": "Default"
          },
          "format": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Format"
          },
          "$ref": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "$Ref"
          }
        },
        "type": "object",
        "title": "ToolPropertySchema"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "WorkspaceCreate": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Le nom de l'espace de travail."
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "Une brève description de l'objectif de l'espace de travail."
          },
          "is_default": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Default",
            "description": "Indique s'il s'agit de l'espace de travail par défaut pour l'utilisateur.",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "name"
        ],
        "title": "WorkspaceCreate"
      }
    },
    "securitySchemes": {
      "APIKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    }
  }
}