{
  "openapi": "3.1.0",
  "info": {
    "title": "UBIK Public API",
    "description": "Publicly accessible API endpoints for UBIK.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://app.ubik-agent.com/api/v1",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/models": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "List available models",
        "description": "Retrieves a list of all LLM models accessible to the user.",
        "operationId": "list_available_models_models_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicModel"
                  },
                  "title": "Response List Available Models Models Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/assistants": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "List available assistants",
        "description": "Retrieves a list of assistants accessible to the user. This endpoint is not available for end-user scoped requests.",
        "operationId": "list_available_assistants_assistants_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicAssistant"
                  },
                  "title": "Response List Available Assistants Assistants Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-sessions": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "List agent sessions",
        "description": "Retrieves a paginated list of agent sessions. Use 'X-End-User-ID' header to filter by your end-users.",
        "operationId": "list_agent_sessions_agent_sessions_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPaginatedAgentSessionsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Create agent session",
        "description": "Creates a new agent session. Provide 'external_user_id' to isolate this session for a specific end-user.",
        "operationId": "create_agent_session_agent_sessions_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicAgentSessionCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicAgentSession"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-sessions/{session_id}": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Get agent session details",
        "description": "Retrieves details of a specific agent session.",
        "operationId": "get_agent_session_agent_sessions__session_id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicAgentSession"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Update agent session",
        "description": "Updates an existing agent session. Can be used to change the title, model, or active tools.",
        "operationId": "update_agent_session_agent_sessions__session_id__patch",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicAgentSessionUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicAgentSession"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Delete agent session",
        "description": "Deletes an agent session and all associated messages.",
        "operationId": "delete_agent_session_agent_sessions__session_id__delete",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-sessions/{session_id}/tools": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "List session tools",
        "description": "Retrieves a list of tools accessible to the agent session with full details.",
        "operationId": "list_session_tools_agent_sessions__session_id__tools_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicTool"
                  },
                  "title": "Response List Session Tools Agent Sessions  Session Id  Tools Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-sessions/{session_id}/messages": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Get session messages",
        "description": "Retrieves the active branch of messages for the session.",
        "operationId": "get_session_messages_agent_sessions__session_id__messages_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicAgentMessageListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Send message",
        "description": "Adds a user message to the session and optionally triggers the agent to generate a response.",
        "operationId": "send_message_agent_sessions__session_id__messages_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicMessageCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicAgentMessage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-sessions/{session_id}/messages/{message_id}/regenerate": {
      "post": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Regenerate response",
        "description": "Regenerates the response for a specific message. If the message is from the assistant, it re-runs the parent user message (creating a new assistant sibling). If it's from the user, it re-runs that user message (creating a new assistant sibling).",
        "operationId": "regenerate_message_agent_sessions__session_id__messages__message_id__regenerate_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Message Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicRegenerateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicAgentMessage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-sessions/{session_id}/messages/{message_id}/edit": {
      "post": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Edit message and regenerate",
        "description": "Edits a user message (creating a new branch) and regenerates the response.",
        "operationId": "edit_message_and_regenerate_agent_sessions__session_id__messages__message_id__edit_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Message Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicEditMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicAgentMessage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-sessions/{session_id}/navigate": {
      "post": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Navigate session",
        "description": "Switches the active branch of the conversation to a specific message.",
        "operationId": "navigate_session_agent_sessions__session_id__navigate_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicNavigationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-sessions/{session_id}/messages/{message_id}": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Get message details",
        "description": "Retrieves details of a specific message, including sibling IDs for branching.",
        "operationId": "get_message_details_agent_sessions__session_id__messages__message_id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Message Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicAgentMessage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-sessions/{session_id}/checkpoints": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "List session checkpoints",
        "description": "Retrieves a list of checkpoints for the agent session.",
        "operationId": "list_session_checkpoints_agent_sessions__session_id__checkpoints_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCheckpointListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-sessions/{session_id}/navigate-to-checkpoint": {
      "post": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Navigate to checkpoint",
        "description": "Resumes the agent session from a specific checkpoint.",
        "operationId": "navigate_to_checkpoint_agent_sessions__session_id__navigate_to_checkpoint_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicNavigateToCheckpointRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicAgentMessage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-sessions/{session_id}/documents": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "List session documents",
        "description": "Retrieves a paginated list of documents linked to the agent session, including their starred status.",
        "operationId": "list_session_documents_agent_sessions__session_id__documents_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPaginatedSessionDocumentsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Link documents",
        "description": "Links existing documents to the agent session context.",
        "operationId": "link_documents_agent_sessions__session_id__documents_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicLinkDocumentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-sessions/{session_id}/upload": {
      "post": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Upload and link document",
        "description": "Uploads a file and immediately links it to the agent session.",
        "operationId": "upload_and_link_document_agent_sessions__session_id__upload_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_upload_and_link_document_agent_sessions__session_id__upload_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDocument"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-sessions/{session_id}/documents/{document_id}": {
      "delete": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Unlink document",
        "description": "Unlinks a document from the agent session context.",
        "operationId": "unlink_document_agent_sessions__session_id__documents__document_id__delete",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Document Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-sessions/{session_id}/documents/{document_id}/star": {
      "put": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Star/Unstar document",
        "description": "Stars or unstars a document within the agent session.",
        "operationId": "star_document_agent_sessions__session_id__documents__document_id__star_put",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Document Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicStarDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-sessions/{session_id}/stream": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Stream session events",
        "description": "Streams Server-Sent Events (SSE) for the agent session. By default, it streams the current or most recent task, replaying past events first.",
        "operationId": "session_events_stream_agent_sessions__session_id__stream_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Short-lived JWT token for authentication (alternative to header).",
              "title": "Token"
            },
            "description": "Short-lived JWT token for authentication (alternative to header)."
          },
          {
            "name": "task_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The ID of the task to stream. If omitted, streams the current or most recent task.",
              "title": "Task Id"
            },
            "description": "The ID of the task to stream. If omitted, streams the current or most recent task."
          },
          {
            "name": "include_chunks",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include partial content chunks in the stream.",
              "default": true,
              "title": "Include Chunks"
            },
            "description": "Whether to include partial content chunks in the stream."
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "Public API",
          "Public API"
        ],
        "summary": "Health Check",
        "description": "Health check endpoint for the public API.",
        "operationId": "health_check_health_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "status": "ok",
                  "user": "testuser"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/users/me": {
      "get": {
        "tags": [
          "Public API",
          "Public API",
          "Users"
        ],
        "summary": "Read Current User",
        "description": "Get the details of the current user.",
        "operationId": "read_current_user_users_me_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicUserResponse"
                },
                "example": {
                  "username": "testuser",
                  "full_name": "Test User",
                  "uuid_id": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
                  "created_at": "2025-09-28T12:00:00Z",
                  "balance": 100.0,
                  "chat_session_count": 5,
                  "document_count": 42,
                  "workspace_count": 3,
                  "assistant_count": 2
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Workspaces"
        ],
        "summary": "List workspaces",
        "description": "Retrieves a paginated list of all workspaces accessible to the user.\nThis includes personal workspaces and shared company workspaces.",
        "operationId": "get_workspaces_workspaces_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPaginatedWorkspacesResponse"
                },
                "example": {
                  "items": [
                    {
                      "id": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
                      "name": "My Project Workspace",
                      "description": "Contains all documents related to the Q1 sales report.",
                      "is_default": true,
                      "created_at": "2025-09-28T10:00:00Z",
                      "updated_at": "2025-09-28T11:00:00Z",
                      "document_count": 42
                    }
                  ],
                  "total": 1,
                  "page": 1,
                  "limit": 20,
                  "has_more": false
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Public API",
          "Public API - Workspaces"
        ],
        "summary": "Create a workspace",
        "description": "Creates a new personal workspace for the user.",
        "operationId": "create_workspace_workspaces_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceCreate"
              },
              "example": {
                "name": "New Project Workspace",
                "description": "Workspace for the new project.",
                "is_default": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicWorkspace"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                },
                "example": {
                  "detail": [
                    {
                      "loc": [
                        "body",
                        "name"
                      ],
                      "msg": "field required",
                      "type": "value_error.missing"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Workspaces"
        ],
        "summary": "Get workspace details",
        "description": "Retrieves the details of a specific workspace, provided the user has access.",
        "operationId": "get_workspace_workspaces__workspace_id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Workspace Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicWorkspace"
                },
                "example": {
                  "id": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
                  "name": "My Project Workspace",
                  "description": "Contains all documents related to the Q1 sales report.",
                  "is_default": true,
                  "created_at": "2025-09-28T10:00:00Z",
                  "updated_at": "2025-09-28T11:00:00Z",
                  "document_count": 42
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Public API",
          "Public API - Workspaces"
        ],
        "summary": "Delete a workspace",
        "description": "Deletes a workspace, provided the user is the owner.",
        "operationId": "delete_workspace_workspaces__workspace_id__delete",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The unique identifier of the workspace.",
              "title": "Workspace Id"
            },
            "description": "The unique identifier of the workspace."
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/documents": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Workspaces"
        ],
        "summary": "List documents in a workspace",
        "description": "Retrieves a paginated list of documents within a specific workspace.",
        "operationId": "get_workspace_documents_workspaces__workspace_id__documents_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Workspace Id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPaginatedDocumentsResponse"
                },
                "example": {
                  "items": [
                    {
                      "id": "c1d2e3f4-a5b6-7890-1234-567890abcdef",
                      "name": "Q1 Sales Report.pdf",
                      "file_type": "application/pdf",
                      "status": "completed",
                      "created_at": "2025-09-28T10:05:00Z",
                      "updated_at": "2025-09-28T10:05:00Z",
                      "processing_pipeline": "default-pipeline"
                    }
                  ],
                  "total": 1,
                  "page": 1,
                  "limit": 20,
                  "has_more": false
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/documents": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Documents"
        ],
        "summary": "List documents",
        "description": "Retrieves a paginated list of all documents accessible to the user.",
        "operationId": "get_documents_documents_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPaginatedDocumentsResponse"
                },
                "example": {
                  "items": [
                    {
                      "id": "c1d2e3f4-a5b6-7890-1234-567890abcdef",
                      "name": "Q1 Sales Report.pdf",
                      "file_type": "application/pdf",
                      "status": "completed",
                      "created_at": "2025-09-28T10:05:00Z",
                      "updated_at": "2025-09-28T10:05:00Z",
                      "processing_pipeline": "default-pipeline"
                    }
                  ],
                  "total": 256,
                  "page": 1,
                  "limit": 20,
                  "has_more": true
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Public API",
          "Public API - Documents"
        ],
        "summary": "Ingest documents from files or URLs",
        "description": "Unified endpoint to ingest documents from various sources.\n\nThis endpoint can handle file uploads and URL scraping in a single request.\nIt uses multipart/form-data.\n\n- To upload files, include them in the 'files' part of the form.\n- To scrape URLs, provide a comma-separated string in the 'urls' form field.\n- Specify workspace IDs to associate the ingested documents with specific workspaces.\n\n**Note:** Supported file types depend on the server's active capabilities (e.g. audio/video files require transcription to be enabled).",
        "operationId": "ingest_documents_documents_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_ingest_documents_documents_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicDocument"
                  },
                  "title": "Response Ingest Documents Documents Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Either 'files' or 'urls' must be provided."
                }
              }
            }
          }
        }
      }
    },
    "/documents/{document_id}": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Documents"
        ],
        "summary": "Get document details",
        "description": "Retrieves the details of a specific document, provided the user has access.",
        "operationId": "get_document_documents__document_id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Document Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDocument"
                },
                "example": {
                  "id": "c1d2e3f4-a5b6-7890-1234-567890abcdef",
                  "name": "Q1 Sales Report.pdf",
                  "file_type": "application/pdf",
                  "status": "completed",
                  "created_at": "2025-09-28T10:05:00Z",
                  "updated_at": "2025-09-28T10:05:00Z",
                  "processing_pipeline": "default-pipeline",
                  "file_name": "2024_Q1_Sales_Final_v2.pdf",
                  "markdown_content": "# Q1 Sales Report..."
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Public API",
          "Public API - Documents"
        ],
        "summary": "Delete a document",
        "description": "Delete a document. This will remove the document from the user's default workspace\nand, if they are the last owner, delete it from the system entirely.",
        "operationId": "delete_document_documents__document_id__delete",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Document Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/documents/{document_id}/reprocess": {
      "post": {
        "tags": [
          "Public API",
          "Public API - Documents"
        ],
        "summary": "Reprocess a document",
        "description": "Reprocess a document using a different pipeline, optionally updating the file content.",
        "operationId": "reprocess_document_public_documents__document_id__reprocess_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Document Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_reprocess_document_public_documents__document_id__reprocess_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/documents/{document_id}/workspaces": {
      "post": {
        "tags": [
          "Public API",
          "Public API - Documents"
        ],
        "summary": "Add document to workspaces",
        "description": "Adds a document to one or more workspaces.",
        "operationId": "add_document_to_workspaces_documents__document_id__workspaces_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Document Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchWorkspaceRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Public API",
          "Public API - Documents"
        ],
        "summary": "Remove document from workspaces",
        "description": "Removes a document from one or more workspaces.",
        "operationId": "remove_document_from_workspaces_documents__document_id__workspaces_delete",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Document Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchWorkspaceRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/documents/{document_id}": {
      "delete": {
        "tags": [
          "Public API",
          "Public API - Workspaces"
        ],
        "summary": "Remove a document from a workspace",
        "description": "Removes a document's association from a specific workspace without deleting the document itself.",
        "operationId": "remove_document_from_workspace_workspaces__workspace_id__documents__document_id__delete",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The unique identifier of the workspace.",
              "title": "Workspace Id"
            },
            "description": "The unique identifier of the workspace."
          },
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The unique identifier of the document.",
              "title": "Document Id"
            },
            "description": "The unique identifier of the document."
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/tools": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Tools"
        ],
        "summary": "List available tools",
        "description": "Retrieves a paginated list of all tools accessible to the user.",
        "operationId": "get_public_tools_tools_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPaginatedToolsResponse"
                },
                "example": {
                  "items": [
                    {
                      "id": "d1e2f3a4-b5c6-7890-1234-567890abcdef",
                      "name": "Financial Data Extractor",
                      "description": "Extracts key financial metrics from annual reports."
                    }
                  ],
                  "total": 35,
                  "page": 1,
                  "limit": 20,
                  "has_more": true
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/tools/{tool_id}": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Tools"
        ],
        "summary": "Get tool details",
        "description": "Retrieves the details of a specific tool, provided the user has access.",
        "operationId": "get_public_tool_tools__tool_id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The unique identifier or name of the tool.",
              "title": "Tool Id"
            },
            "description": "The unique identifier or name of the tool."
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicTool"
                },
                "example": {
                  "id": "d1e2f3a4-b5c6-7890-1234-567890abcdef",
                  "name": "Financial Data Extractor",
                  "description": "Extracts key financial metrics from annual reports.",
                  "input_schema": {
                    "type": "object",
                    "properties": {
                      "stock_symbol": {
                        "type": "string",
                        "description": "The stock symbol of the company."
                      },
                      "report_year": {
                        "type": "integer",
                        "description": "The year of the financial report."
                      }
                    },
                    "required": [
                      "stock_symbol",
                      "report_year"
                    ]
                  },
                  "media_output_keys": [],
                  "example_responses": [
                    {
                      "revenue": 1000000,
                      "profit": 250000
                    }
                  ],
                  "pricing_config": {
                    "fixed_cost": 0.01
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/tools/{tool_id}/embed-info": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Tools"
        ],
        "summary": "Get tool embedding information",
        "description": "Retrieves the necessary details for embedding a tool's UI, including its schema and allowed domains. Optionally accepts 'external_user_id' to scope the returned access token.",
        "operationId": "get_public_tool_embed_info_tools__tool_id__embed_info_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The unique identifier or name of the tool.",
              "title": "Tool Id"
            },
            "description": "The unique identifier or name of the tool."
          },
          {
            "name": "external_user_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional external user ID to scope the access token.",
              "title": "External User Id"
            },
            "description": "Optional external user ID to scope the access token."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicToolEmbedInfo"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/auth/token": {
      "post": {
        "tags": [
          "Public API",
          "Public API - Authentication"
        ],
        "summary": "Get JWT from API Key",
        "description": "Exchange a valid API Key for a short-lived JWT access token. Optionally provide 'external_user_id' to scope the token to a specific end-user.",
        "operationId": "create_token_from_api_key_auth_token_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/PublicScopedTokenRequest"
                  },
                  {
                    "type": "null"
                  }
                ],
                "title": "Token Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Token"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/tools/{tool_id}/execute": {
      "post": {
        "tags": [
          "Public API",
          "Public API - Tool Executions"
        ],
        "summary": "Execute a tool",
        "description": "Asynchronously starts a tool execution and returns an execution ID to track the results.",
        "operationId": "execute_public_tool_tools__tool_id__execute_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The unique identifier or name of the tool to execute.",
              "title": "Tool Id"
            },
            "description": "The unique identifier or name of the tool to execute."
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicToolExecutionRequest"
              },
              "example": {
                "inputs": {
                  "stock_symbol": "ACME",
                  "report_year": 2023
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicToolExecutionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                },
                "example": {
                  "detail": [
                    {
                      "loc": [
                        "body",
                        "inputs"
                      ],
                      "msg": "field required",
                      "type": "value_error.missing"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/tool-executions/{execution_id}": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Tool Executions"
        ],
        "summary": "Get execution result",
        "description": "Retrieves the status and result of a specific tool execution.",
        "operationId": "get_public_tool_execution_tool_executions__execution_id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "execution_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The unique identifier of the tool execution.",
              "title": "Execution Id"
            },
            "description": "The unique identifier of the tool execution."
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicToolExecutionResult"
                },
                "example": {
                  "id": "exec_123456789",
                  "tool_id": "d1e2f3a4-b5c6-7890-1234-567890abcdef",
                  "user_id": 123,
                  "status": "completed",
                  "inputs": {
                    "stock_symbol": "ACME"
                  },
                  "outputs": {
                    "revenue": 1000000,
                    "profit": 250000
                  },
                  "created_at": "2025-09-28T12:00:00Z",
                  "started_at": "2025-09-28T12:00:01Z",
                  "completed_at": "2025-09-28T12:00:05Z"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/tool-executions/{execution_id}/stream": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Tool Executions"
        ],
        "summary": "Stream execution events",
        "description": "Streams Server-Sent Events (SSE) for a tool execution.",
        "operationId": "stream_public_tool_execution_tool_executions__execution_id__stream_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "execution_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The unique identifier of the tool execution.",
              "title": "Execution Id"
            },
            "description": "The unique identifier of the tool execution."
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/tool-executions/{execution_id}/provide-input": {
      "post": {
        "tags": [
          "Public API",
          "Public API - Tool Executions"
        ],
        "summary": "Provide input to a waiting tool",
        "description": "Provides the required input to a tool execution that is in the 'waiting_for_input' state.",
        "operationId": "provide_public_tool_input_tool_executions__execution_id__provide_input_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "execution_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The unique identifier of the tool execution that is waiting for input.",
              "title": "Execution Id"
            },
            "description": "The unique identifier of the tool execution that is waiting for input."
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_provide_public_tool_input_tool_executions__execution_id__provide_input_post"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BatchWorkspaceRequest": {
        "properties": {
          "workspace_ids": {
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "type": "array",
            "title": "Workspace Ids",
            "description": "A list of workspace unique identifiers."
          }
        },
        "type": "object",
        "required": [
          "workspace_ids"
        ],
        "title": "BatchWorkspaceRequest"
      },
      "Body_ingest_documents_documents_post": {
        "properties": {
          "files": {
            "anyOf": [
              {
                "items": {
                  "type": "string",
                  "format": "binary"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Files",
            "description": "A list of files to upload."
          },
          "urls": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Urls",
            "description": "A comma-separated list of URLs to scrape."
          },
          "workspace_ids": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Workspace Ids",
            "description": "A comma-separated list of workspace IDs to add the documents to."
          },
          "scraping_mode": {
            "type": "string",
            "title": "Scraping Mode",
            "description": "Scraping mode ('Simple Scraping' or 'Crawling').",
            "default": "Simple Scraping"
          },
          "crawl_depth": {
            "type": "integer",
            "title": "Crawl Depth",
            "description": "The maximum depth for crawling links.",
            "default": 2
          },
          "same_domain_only": {
            "type": "boolean",
            "title": "Same Domain Only",
            "description": "Whether to only crawl links on the same domain.",
            "default": true
          },
          "limit": {
            "type": "integer",
            "title": "Limit",
            "description": "The maximum number of pages to crawl.",
            "default": 10
          },
          "delay": {
            "type": "number",
            "title": "Delay",
            "description": "The delay in seconds between requests.",
            "default": 1.0
          },
          "youtube_download_format": {
            "type": "string",
            "title": "Youtube Download Format",
            "description": "The format to download YouTube videos in ('audio' or 'video').",
            "default": "audio"
          }
        },
        "type": "object",
        "title": "Body_ingest_documents_documents_post"
      },
      "Body_provide_public_tool_input_tool_executions__execution_id__provide_input_post": {
        "properties": {
          "file": {
            "anyOf": [
              {
                "type": "string",
                "format": "binary"
              },
              {
                "type": "null"
              }
            ],
            "title": "File",
            "description": "An optional file to upload as input."
          },
          "input_data_json": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Input Data Json",
            "description": "Optional JSON data to provide as input."
          }
        },
        "type": "object",
        "title": "Body_provide_public_tool_input_tool_executions__execution_id__provide_input_post"
      },
      "Body_reprocess_document_public_documents__document_id__reprocess_post": {
        "properties": {
          "file": {
            "anyOf": [
              {
                "type": "string",
                "format": "binary"
              },
              {
                "type": "null"
              }
            ],
            "title": "File"
          },
          "pipeline": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pipeline"
          }
        },
        "type": "object",
        "title": "Body_reprocess_document_public_documents__document_id__reprocess_post"
      },
      "Body_upload_and_link_document_agent_sessions__session_id__upload_post": {
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "title": "File"
          }
        },
        "type": "object",
        "required": [
          "file"
        ],
        "title": "Body_upload_and_link_document_agent_sessions__session_id__upload_post"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
[...]
