{
  "openapi": "3.1.0",
  "info": {
    "title": "UBIK Public API",
    "description": "Publicly accessible API endpoints for UBIK.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://app.ubik-agent.com/api/v1",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/models": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Lister les modèles disponibles",
        "description": "Récupère une liste de tous les modèles LLM accessibles à l'utilisateur.",
        "operationId": "list_available_models_models_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicModel"
                  },
                  "title": "Response List Available Models Models Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/assistants": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Lister les assistants disponibles",
        "description": "Récupère une liste des assistants accessibles à l'utilisateur. Ce point de terminaison n'est pas disponible pour les requêtes limitées à un utilisateur final.",
        "operationId": "list_available_assistants_assistants_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicAssistant"
                  },
                  "title": "Response List Available Assistants Assistants Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-sessions": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Lister les sessions d'agent",
        "description": "Récupère une liste paginée de sessions d'agent. Utilisez l'en-tête 'X-End-User-ID' pour filtrer par vos utilisateurs finaux.",
        "operationId": "list_agent_sessions_agent_sessions_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPaginatedAgentSessionsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Créer une session d'agent",
        "description": "Crée une nouvelle session d'agent. Fournissez 'external_user_id' pour isoler cette session pour un utilisateur final spécifique.",
        "operationId": "create_agent_session_agent_sessions_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicAgentSessionCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicAgentSession"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-sessions/{session_id}": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Détails d'une session d'agent",
        "description": "Récupère les détails d'une session d'agent spécifique.",
        "operationId": "get_agent_session_agent_sessions__session_id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicAgentSession"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Mettre à jour une session d'agent",
        "description": "Met à jour une session d'agent existante. Peut être utilisé pour changer le titre, le modèle ou les outils actifs.",
        "operationId": "update_agent_session_agent_sessions__session_id__patch",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicAgentSessionUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicAgentSession"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Supprimer une session d'agent",
        "description": "Supprime une session d'agent et tous les messages associés.",
        "operationId": "delete_agent_session_agent_sessions__session_id__delete",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-sessions/{session_id}/tools": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Lister les outils de la session",
        "description": "Récupère une liste des outils accessibles à la session d'agent avec tous les détails.",
        "operationId": "list_session_tools_agent_sessions__session_id__tools_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicTool"
                  },
                  "title": "Response List Session Tools Agent Sessions  Session Id  Tools Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-sessions/{session_id}/messages": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Récupérer les messages de la session",
        "description": "Récupère la branche active des messages pour la session.",
        "operationId": "get_session_messages_agent_sessions__session_id__messages_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicAgentMessageListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Envoyer un message",
        "description": "Ajoute un message utilisateur à la session et déclenche éventuellement l'agent pour générer une réponse.",
        "operationId": "send_message_agent_sessions__session_id__messages_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicMessageCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicAgentMessage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-sessions/{session_id}/messages/{message_id}/regenerate": {
      "post": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Régénérer une réponse",
        "description": "Régénère la réponse pour un message spécifique. Si le message vient de l'assistant, cela relance le message utilisateur parent (créant un nouveau frère assistant). Si c'est un message utilisateur, cela relance ce message (créant un nouveau frère assistant).",
        "operationId": "regenerate_message_agent_sessions__session_id__messages__message_id__regenerate_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Message Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicRegenerateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-sessions/{session_id}/messages/{message_id}/edit": {
      "post": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Modifier un message et régénérer",
        "description": "Modifie un message utilisateur (créant une nouvelle branche) et régénère la réponse.",
        "operationId": "edit_message_and_regenerate_agent_sessions__session_id__messages__message_id__edit_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Message Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicEditMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-sessions/{session_id}/navigate": {
      "post": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Naviguer dans la session",
        "description": "Bascule la branche active de la conversation vers un message spécifique.",
        "operationId": "navigate_session_agent_sessions__session_id__navigate_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicNavigationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-sessions/{session_id}/messages/{message_id}": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Détails d'un message",
        "description": "Récupère les détails d'un message spécifique, y compris les ID des frères pour les branchements.",
        "operationId": "get_message_details_agent_sessions__session_id__messages__message_id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Message Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicAgentMessage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-sessions/{session_id}/checkpoints": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Lister les points de contrôle de la session",
        "description": "Récupère une liste des points de contrôle pour la session d'agent.",
        "operationId": "list_session_checkpoints_agent_sessions__session_id__checkpoints_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCheckpointListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-sessions/{session_id}/navigate-to-checkpoint": {
      "post": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Naviguer vers un point de contrôle",
        "description": "Reprend la session d'agent à partir d'un point de contrôle spécifique.",
        "operationId": "navigate_to_checkpoint_agent_sessions__session_id__navigate_to_checkpoint_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicNavigateToCheckpointRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-sessions/{session_id}/documents": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Lister les documents de la session",
        "description": "Récupère une liste paginée de documents liés à la session d'agent, incluant leur statut favori.",
        "operationId": "list_session_documents_agent_sessions__session_id__documents_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPaginatedSessionDocumentsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Lier des documents",
        "description": "Lie des documents existants au contexte de la session d'agent.",
        "operationId": "link_documents_agent_sessions__session_id__documents_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicLinkDocumentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-sessions/{session_id}/upload": {
      "post": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Téléverser et lier un document",
        "description": "Téléverse un fichier et le lie immédiatement à la session d'agent.",
        "operationId": "upload_and_link_document_agent_sessions__session_id__upload_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_upload_and_link_document_agent_sessions__session_id__upload_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDocument"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-sessions/{session_id}/documents/{document_id}": {
      "delete": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Délier un document",
        "description": "Délie un document du contexte de la session d'agent.",
        "operationId": "unlink_document_agent_sessions__session_id__documents__document_id__delete",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Document Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-sessions/{session_id}/documents/{document_id}/star": {
      "put": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Mettre en favori/Retirer des favoris un document",
        "description": "Met en favori ou retire des favoris un document au sein de la session d'agent.",
        "operationId": "star_document_agent_sessions__session_id__documents__document_id__star_put",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Document Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicStarDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agent-sessions/{session_id}/task-stream": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Agent Sessions"
        ],
        "summary": "Streaming des événements de tâche",
        "description": "Diffuse les événements Server-Sent (SSE) pour une tâche d'agent spécifique, en rejouant d'abord les événements passés. Utile pour se reconnecter à un flux.",
        "operationId": "task_events_stream_agent_sessions__session_id__task_stream_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Short-lived JWT token for authentication (alternative to header).",
              "title": "Token"
            },
            "description": "Short-lived JWT token for authentication (alternative to header)."
          },
          {
            "name": "task_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The ID of the task to stream. If omitted, streams the current or most recent task.",
              "title": "Task Id"
            },
            "description": "The ID of the task to stream. If omitted, streams the current or most recent task."
          },
          {
            "name": "include_chunks",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include partial content chunks in the stream.",
              "default": true,
              "title": "Include Chunks"
            },
            "description": "Whether to include partial content chunks in the stream."
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "Public API",
          "Public API"
        ],
        "summary": "État du service",
        "description": "Route pour la vérification de l'état du service de l'API publique.",
        "operationId": "health_check_health_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "status": "ok",
                  "user": "testuser"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/users/me": {
      "get": {
        "tags": [
          "Public API",
          "Public API",
          "Users"
        ],
        "summary": "Consulter l'utilisateur actuel",
        "description": "Récupère les informations détaillées de l'utilisateur currently authentifié.",
        "operationId": "read_current_user_users_me_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicUserResponse"
                },
                "example": {
                  "username": "testuser",
                  "full_name": "Test User",
                  "uuid_id": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
                  "created_at": "2025-09-28T12:00:00Z",
                  "balance": 100.0,
                  "chat_session_count": 5,
                  "document_count": 42,
                  "workspace_count": 3,
                  "assistant_count": 2
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Workspaces"
        ],
        "summary": "Lister les espaces de travail",
        "description": "Récupère une liste paginée de tous les espaces de travail accessibles à l'utilisateur, incluant les espaces personnels et ceux partagés via l'entreprise.",
        "operationId": "get_workspaces_workspaces_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPaginatedWorkspacesResponse"
                },
                "example": {
                  "items": [
                    {
                      "id": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
                      "name": "My Project Workspace",
                      "description": "Contains all documents related to the Q1 sales report.",
                      "is_default": true,
                      "created_at": "2025-09-28T10:00:00Z",
                      "updated_at": "2025-09-28T11:00:00Z",
                      "document_count": 42
                    }
                  ],
                  "total": 1,
                  "page": 1,
                  "limit": 20,
                  "has_more": false
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Public API",
          "Public API - Workspaces"
        ],
        "summary": "Créer un espace de travail",
        "description": "Crée un nouvel espace de travail personnel pour l'utilisateur.",
        "operationId": "create_workspace_workspaces_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceCreate"
              },
              "example": {
                "name": "New Project Workspace",
                "description": "Workspace for the new project.",
                "is_default": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicWorkspace"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                },
                "example": {
                  "detail": [
                    {
                      "loc": [
                        "body",
                        "name"
                      ],
                      "msg": "field required",
                      "type": "value_error.missing"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Workspaces"
        ],
        "summary": "Détails d'un espace de travail",
        "description": "Récupère les informations détaillées d'un espace de travail spécifique, si l'utilisateur dispose des permissions nécessaires.",
        "operationId": "get_workspace_workspaces__workspace_id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Workspace Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicWorkspace"
                },
                "example": {
                  "id": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
                  "name": "My Project Workspace",
                  "description": "Contains all documents related to the Q1 sales report.",
                  "is_default": true,
                  "created_at": "2025-09-28T10:00:00Z",
                  "updated_at": "2025-09-28T11:00:00Z",
                  "document_count": 42
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Public API",
          "Public API - Workspaces"
        ],
        "summary": "Supprimer un espace de travail",
        "description": "Supprime un espace de travail, si l'utilisateur en est le propriétaire.",
        "operationId": "delete_workspace_workspaces__workspace_id__delete",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The unique identifier of the workspace.",
              "title": "Workspace Id"
            },
            "description": "L'identifiant unique de l'espace de travail."
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/documents": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Workspaces"
        ],
        "summary": "Lister les documents dans un espace de travail",
        "description": "Récupère une liste paginée de documents dans un espace de travail spécifique.",
        "operationId": "get_workspace_documents_workspaces__workspace_id__documents_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Workspace Id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPaginatedDocumentsResponse"
                },
                "example": {
                  "items": [
                    {
                      "id": "c1d2e3f4-a5b6-7890-1234-567890abcdef",
                      "name": "Q1 Sales Report.pdf",
                      "file_type": "application/pdf",
                      "status": "completed",
                      "created_at": "2025-09-28T10:05:00Z",
                      "updated_at": "2025-09-28T10:05:00Z",
                      "processing_pipeline": "default-pipeline"
                    }
                  ],
                  "total": 1,
                  "page": 1,
                  "limit": 20,
                  "has_more": false
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/documents": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Documents"
        ],
        "summary": "Lister les documents",
        "description": "Récupère une liste paginée de tous les documents accessibles à l'utilisateur.",
        "operationId": "get_documents_documents_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPaginatedDocumentsResponse"
                },
                "example": {
                  "items": [
                    {
                      "id": "c1d2e3f4-a5b6-7890-1234-567890abcdef",
                      "name": "Q1 Sales Report.pdf",
                      "file_type": "application/pdf",
                      "status": "completed",
                      "created_at": "2025-09-28T10:05:00Z",
                      "updated_at": "2025-09-28T10:05:00Z",
                      "processing_pipeline": "default-pipeline"
                    }
                  ],
                  "total": 256,
                  "page": 1,
                  "limit": 20,
                  "has_more": true
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Public API",
          "Public API - Documents"
        ],
        "summary": "Ingestion de documents (fichiers ou URLs)",
        "description": "Route unifiée pour ingérer des documents depuis diverses sources.\n\nCette route gère le téléversement de fichiers et le scraping d'URLs en une seule requête (multipart/form-data).\n\n- Pour importer des fichiers, utilisez le champ 'files'.\n- Pour scraper des URLs, utilisez le champ 'urls' (liste séparée par des virgules).\n- Associez les documents à des espaces de travail via 'workspace_ids'.\n\n**Note:** Les types de fichiers pris en charge dépendent des capacités actives du serveur (par exemple, les fichiers audio/vidéo nécessitent que la transcription soit activée).",
        "operationId": "ingest_documents_documents_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_ingest_documents_documents_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicDocument"
                  },
                  "title": "Response Ingest Documents Documents Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Either 'files' or 'urls' must be provided."
                }
              }
            }
          }
        }
      }
    },
    "/documents/{document_id}": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Documents"
        ],
        "summary": "Détails d'un document",
        "description": "Récupère les informations détaillées d'un document spécifique, si l'utilisateur dispose des permissions nécessaires.",
        "operationId": "get_document_documents__document_id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Document Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDocument"
                },
                "example": {
                  "id": "c1d2e3f4-a5b6-7890-1234-567890abcdef",
                  "name": "Q1 Sales Report.pdf",
                  "file_type": "application/pdf",
                  "status": "completed",
                  "created_at": "2025-09-28T10:05:00Z",
                  "updated_at": "2025-09-28T10:05:00Z",
                  "processing_pipeline": "default-pipeline",
                  "file_name": "2024_Q1_Sales_Final_v2.pdf",
                  "markdown_content": "# Q1 Sales Report..."
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Public API",
          "Public API - Documents"
        ],
        "summary": "Supprimer un document",
        "description": "Supprime un document. Cette action le retire de l'espace de travail par défaut de l'utilisateur et le supprime définitivement du système si l'utilisateur en est le dernier propriétaire.",
        "operationId": "delete_document_documents__document_id__delete",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Document Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/documents/{document_id}/reprocess": {
      "post": {
        "tags": [
          "Public API",
          "Public API - Documents"
        ],
        "summary": "Retraiter un document",
        "description": "Retraite un document en utilisant un pipeline différent, en mettant éventuellement à jour le contenu du fichier.",
        "operationId": "reprocess_document_public_documents__document_id__reprocess_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Document Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_reprocess_document_public_documents__document_id__reprocess_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/documents/{document_id}/workspaces": {
      "post": {
        "tags": [
          "Public API",
          "Public API - Documents"
        ],
        "summary": "Ajouter un document aux espaces de travail",
        "description": "Ajoute un document à un ou plusieurs espaces de travail.",
        "operationId": "add_document_to_workspaces_documents__document_id__workspaces_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Document Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchWorkspaceRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Public API",
          "Public API - Documents"
        ],
        "summary": "Retirer un document d'espaces de travail",
        "description": "Retire un document d'un ou de plusieurs espaces de travail.",
        "operationId": "remove_document_from_workspaces_documents__document_id__workspaces_delete",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Document Id"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchWorkspaceRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/documents/{document_id}": {
      "delete": {
        "tags": [
          "Public API",
          "Public API - Workspaces"
        ],
        "summary": "Retirer un document d'un espace de travail",
        "description": "Retire un document d'un espace de travail spécifique, sans supprimer le document lui-même.",
        "operationId": "remove_document_from_workspace_workspaces__workspace_id__documents__document_id__delete",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The unique identifier of the workspace.",
              "title": "Workspace Id"
            },
            "description": "L'identifiant unique de l'espace de travail."
          },
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The unique identifier of the document.",
              "title": "Document Id"
            },
            "description": "L'identifiant unique du document."
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/tools": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Tools"
        ],
        "summary": "Lister les outils disponibles",
        "description": "Récupère une liste paginée de tous les outils accessibles à l'utilisateur.",
        "operationId": "get_public_tools_tools_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPaginatedToolsResponse"
                },
                "example": {
                  "items": [
                    {
                      "id": "d1e2f3a4-b5c6-7890-1234-567890abcdef",
                      "name": "Financial Data Extractor",
                      "description": "Extracts key financial metrics from annual reports."
                    }
                  ],
                  "total": 35,
                  "page": 1,
                  "limit": 20,
                  "has_more": true
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/tools/{tool_id}": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Tools"
        ],
        "summary": "Détails d'un outil",
        "description": "Récupère les informations détaillées d'un outil spécifique, si l'utilisateur dispose des permissions nécessaires.",
        "operationId": "get_public_tool_tools__tool_id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The unique identifier or name of the tool.",
              "title": "Tool Id"
            },
            "description": "L'identifiant unique ou le nom de l'outil."
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicTool"
                },
                "example": {
                  "id": "d1e2f3a4-b5c6-7890-1234-567890abcdef",
                  "name": "Financial Data Extractor",
                  "description": "Extracts key financial metrics from annual reports.",
                  "input_schema": {
                    "type": "object",
                    "properties": {
                      "stock_symbol": {
                        "type": "string",
                        "description": "The stock symbol of the company."
                      },
                      "report_year": {
                        "type": "integer",
                        "description": "The year of the financial report."
                      }
                    },
                    "required": [
                      "stock_symbol",
                      "report_year"
                    ]
                  },
                  "media_output_keys": [],
                  "example_responses": [
                    {
                      "revenue": 1000000,
                      "profit": 250000
                    }
                  ],
                  "pricing_config": {
                    "fixed_cost": 0.01
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/tools/{tool_id}/embed-info": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Tools"
        ],
        "summary": "Obtenir les informations d'intégration d'un outil",
        "description": "Récupère les détails nécessaires pour intégrer l'interface utilisateur d'un outil, y compris son schéma et les domaines autorisés.",
        "operationId": "get_public_tool_embed_info_tools__tool_id__embed_info_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The unique identifier or name of the tool.",
              "title": "Tool Id"
            },
            "description": "L'identifiant unique ou le nom de l'outil."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicToolEmbedInfo"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/auth/token": {
      "post": {
        "tags": [
          "Public API",
          "Public API - Authentication"
        ],
        "summary": "Obtenir un JWT depuis une clé d'API",
        "description": "Échange une clé d'API valide contre un token d'accès JWT de courte durée. Fournissez éventuellement 'external_user_id' pour limiter le jeton à un utilisateur final spécifique.",
        "operationId": "create_token_from_api_key_auth_token_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/PublicScopedTokenRequest"
                  },
                  {
                    "type": "null"
                  }
                ],
                "title": "Token Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Token"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/tools/{tool_id}/execute": {
      "post": {
        "tags": [
          "Public API",
          "Public API - Tool Executions"
        ],
        "summary": "Exécuter un outil",
        "description": "Démarre de manière asynchrone l'exécution d'un outil et renvoie un ID pour suivre les résultats.",
        "operationId": "execute_public_tool_tools__tool_id__execute_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The unique identifier or name of the tool to execute.",
              "title": "Tool Id"
            },
            "description": "L'identifiant unique ou le nom de l'outil à exécuter."
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicToolExecutionRequest"
              },
              "example": {
                "inputs": {
                  "stock_symbol": "ACME",
                  "report_year": 2023
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicToolExecutionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                },
                "example": {
                  "detail": [
                    {
                      "loc": [
                        "body",
                        "inputs"
                      ],
                      "msg": "field required",
                      "type": "value_error.missing"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/tool-executions/{execution_id}": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Tool Executions"
        ],
        "summary": "Résultat d'une exécution",
        "description": "Récupère le statut et le résultat d'une exécution d'outil spécifique.",
        "operationId": "get_public_tool_execution_tool_executions__execution_id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "execution_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The unique identifier of the tool execution.",
              "title": "Execution Id"
            },
            "description": "L'identifiant unique de l'exécution de l'outil."
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicToolExecutionResult"
                },
                "example": {
                  "id": "exec_123456789",
                  "tool_id": "d1e2f3a4-b5c6-7890-1234-567890abcdef",
                  "user_id": 123,
                  "status": "completed",
                  "inputs": {
                    "stock_symbol": "ACME"
                  },
                  "outputs": {
                    "revenue": 1000000,
                    "profit": 250000
                  },
                  "created_at": "2025-09-28T12:00:00Z",
                  "started_at": "2025-09-28T12:00:01Z",
                  "completed_at": "2025-09-28T12:00:05Z"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/tool-executions/{execution_id}/stream": {
      "get": {
        "tags": [
          "Public API",
          "Public API - Tool Executions"
        ],
        "summary": "Streaming des événements d'exécution",
        "description": "Permet de s'abonner en temps réel aux événements (Server-Sent Events) d'une exécution d'outil.",
        "operationId": "stream_public_tool_execution_tool_executions__execution_id__stream_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "execution_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The unique identifier of the tool execution.",
              "title": "Execution Id"
            },
            "description": "L'identifiant unique de l'exécution de l'outil."
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/tool-executions/{execution_id}/provide-input": {
      "post": {
        "tags": [
          "Public API",
          "Public API - Tool Executions"
        ],
        "summary": "Soumettre des données à un outil en attente",
        "description": "Permet de fournir les données requises par une exécution d'outil actuellement en état 'waiting_for_input'.",
        "operationId": "provide_public_tool_input_tool_executions__execution_id__provide_input_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "execution_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The unique identifier of the tool execution that is waiting for input.",
              "title": "Execution Id"
            },
            "description": "L'identifiant unique de l'exécution de l'outil qui attend une entrée."
          },
          {
            "name": "X-End-User-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-End-User-Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_provide_public_tool_input_tool_executions__execution_id__provide_input_post"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BatchWorkspaceRequest": {
        "properties": {
          "workspace_ids": {
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "type": "array",
            "title": "Workspace Ids",
            "description": "Une liste d'identifiants uniques d'espaces de travail."
          }
        },
        "type": "object",
        "required": [
          "workspace_ids"
        ],
        "title": "BatchWorkspaceRequest"
      },
      "Body_ingest_documents_documents_post": {
        "properties": {
          "files": {
            "anyOf": [
              {
                "items": {
                  "type": "string",
                  "format": "binary"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Files",
            "description": "Une liste de fichiers à importer."
          },
          "urls": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Urls",
            "description": "Une liste d'URLs à scraper, séparées par des virgules."
          },
          "workspace_ids": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Workspace Ids",
            "description": "Une liste d'IDs d'espaces de travail où ajouter les documents, séparées par des virgules."
          },
          "scraping_mode": {
            "type": "string",
            "title": "Scraping Mode",
            "description": "Mode de scraping ('Simple Scraping' ou 'Crawling').",
            "default": "Simple Scraping"
          },
          "crawl_depth": {
            "type": "integer",
            "title": "Crawl Depth",
            "description": "La profondeur maximale pour le crawling des liens.",
            "default": 2
          },
          "same_domain_only": {
            "type": "boolean",
            "title": "Same Domain Only",
            "description": "Indique s'il faut uniquement crawler les liens du même domaine.",
            "default": true
          },
          "limit": {
            "type": "integer",
            "title": "Limit",
            "description": "Le nombre maximum de pages à crawler.",
            "default": 10
          },
          "delay": {
            "type": "number",
            "title": "Delay",
            "description": "Le délai en secondes entre les requêtes.",
            "default": 1.0
          },
          "youtube_download_format": {
            "type": "string",
            "title": "Youtube Download Format",
            "description": "Le format de téléchargement pour les vidéos YouTube ('audio' ou 'video').",
            "default": "audio"
          }
        },
        "type": "object",
        "title": "Body_ingest_documents_documents_post"
      },
      "Body_provide_public_tool_input_tool_executions__execution_id__provide_input_post": {
        "properties": {
          "file": {
            "anyOf": [
              {
                "type": "string",
                "format": "binary"
              },
              {
                "type": "null"
              }
            ],
            "title": "File",
            "description": "Un fichier optionnel à importer comme entrée."
          },
          "input_data_json": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Input Data Json",
            "description": "Données JSON optionnelles à fournir comme entrée."
          }
        },
        "type": "object",
        "title": "Body_provide_public_tool_input_tool_executions__execution_id__provide_input_post"
      },
      "Body_reprocess_document_public_documents__document_id__reprocess_post": {
        "properties": {
          "file": {
            "anyOf": [
              {
                "type": "string",
                "format": "binary"
              },
              {
                "type": "null"
              }
            ],
            "title": "File"
          },
          "pipeline": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pipeline"
          }
        },
        "type": "object",
        "title": "Body_reprocess_document_public_documents__document_id__reprocess_post"
      },
      "Body_upload_and_link_document_agent_sessions__session_id__upload_post": {
        "properties": {
          "file": {
            "type": "string",
[...]
